In [1]:
import pyspark
from pyspark.sql import SparkSession
import os

AWS_ACCESS_KEY = os.getenv("AWS_ACCESS_KEY_ID")
AWS_SECRET_KEY = os.getenv("AWS_SECRET_ACCESS_KEY")
S3_ENDPOINT = os.getenv("S3_ENDPOINT")
NESSIE_URI = os.getenv("NESSIE_URI")

MASTER = "spark://spark-master:7077"

jar_packages = [
    "org.apache.iceberg:iceberg-spark-runtime-3.5_2.12:1.6.1",
    "org.projectnessie.nessie-integrations:nessie-spark-extensions-3.5_2.12:0.99.0",
    #"software.amazon.awssdk:bundle:2.28.13",
    #"software.amazon.awssdk:url-connection-client:2.28.13",
    "org.apache.iceberg:iceberg-aws-bundle:1.6.1"
  ]

spark_extensions = [
    "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions",
    "org.projectnessie.spark.extensions.NessieSparkSessionExtensions"
]
conf = (
    pyspark.SparkConf()
    .setAppName("Iceberg")
    .set("spark.master", MASTER)
    .set("spark.jars.packages", ','.join(jar_packages))
    .set("spark.sql.extensions","org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions,org.projectnessie.spark.extensions.NessieSparkSessionExtensions")
    .set("spark.executor.memory", "2g")
    .set("spark.executor.cores", "2")
    .set("spark.executor.instances", "1")
    .set("spark.driver.memory", "2g")
    .set("spark.sql.catalog.nessie", "org.apache.iceberg.spark.SparkCatalog")
    .set("spark.sql.catalog.nessie.s3.path-style-access", "true")
    .set("spark.sql.catalog.nessie.s3.endpoint", S3_ENDPOINT)
    .set("spark.sql.catalog.nessie.warehouse", "s3a://bronze/")
    .set("spark.sql.catalog.nessie.catalog-impl", "org.apache.iceberg.nessie.NessieCatalog")
    .set("spark.sql.catalog.nessie.io-impl", "org.apache.iceberg.aws.s3.S3FileIO")
    .set("spark.sql.catalog.nessie.uri", NESSIE_URI)
    .set("spark.sql.catalog.nessie.ref", "main")
    .set("spark.sql.catalog.nessie.authentication.type", "NONE")
    .set("spark.sql.catalog.nessie.cache-enabled", "false")
    .set("spark.hadoop.fs.s3a.access.key", AWS_ACCESS_KEY)
    .set("spark.hadoop.fs.s3a.secret.key", AWS_SECRET_KEY)
    .set("spark.hadoop.fs.s3a.endpoint", S3_ENDPOINT)
    .set("spark.hadoop.fs.s3a.path.style.access", "true")
    .set("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")
)

spark = SparkSession.builder.config(conf=conf).getOrCreate()
spark.sparkContext.setLogLevel("ERROR")
print(spark)

:: loading settings :: url = jar:file:/opt/bitnami/spark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /root/.ivy2/cache
The jars for the packages stored in: /root/.ivy2/jars
org.apache.iceberg#iceberg-spark-runtime-3.5_2.12 added as a dependency
org.projectnessie.nessie-integrations#nessie-spark-extensions-3.5_2.12 added as a dependency
org.apache.iceberg#iceberg-aws-bundle added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-13ead859-9399-46a3-a10b-df4738610ab6;1.0
	confs: [default]
	found org.apache.iceberg#iceberg-spark-runtime-3.5_2.12;1.6.1 in central
	found org.projectnessie.nessie-integrations#nessie-spark-extensions-3.5_2.12;0.99.0 in central
	found org.apache.iceberg#iceberg-aws-bundle;1.6.1 in central
:: resolution report :: resolve 597ms :: artifacts dl 24ms
	:: modules in use:
	org.apache.iceberg#iceberg-aws-bundle;1.6.1 from central in [default]
	org.apache.iceberg#iceberg-spark-runtime-3.5_2.12;1.6.1 from central in [default]
	org.projectnessie.nessie-integrations#nessie-spark-extensions-3.5_2.12;0.99.0 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   3   |   0   |   0   |   0   ||   3   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-13ead859-9399-46a3-a10b-df4738610ab6
	confs: [default]
	0 artifacts copied, 3 already retrieved (0kB/30ms)
24/12/10 20:52:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

<pyspark.sql.session.SparkSession object at 0x7f983ea9a840>

In [2]:
spark.sql("SHOW CATALOGS").show()

+-------------+
|      catalog|
+-------------+
|spark_catalog|
+-------------+

In [3]:
enem_2019 = spark.read.csv("s3a://landing/MICRODADOS_ENEM_2019.csv", header=True, inferSchema=True, sep=";")
enem_2020 = spark.read.csv("s3a://landing/MICRODADOS_ENEM_2020.csv", header=True, inferSchema=True, sep=";")
enem_2021 = spark.read.csv("s3a://landing/MICRODADOS_ENEM_2021.csv", header=True, inferSchema=True, sep=";")
enem_2022 = spark.read.csv("s3a://landing/MICRODADOS_ENEM_2022.csv", header=True, inferSchema=True, sep=";")
enem_2023 = spark.read.csv("s3a://landing/MICRODADOS_ENEM_2023.csv", header=True, inferSchema=True, sep=";")

In [4]:
spark.sql("""
CREATE NAMESPACE IF NOT EXISTS nessie.bronze
""")

DataFrame[]

In [17]:
spark.sql("""
CREATE OR REPLACE TABLE nessie.bronze.enem_2019 (
    NU_INSCRICAO STRING,
    NU_ANO INT,
    TP_FAIXA_ETARIA INT,
    TP_SEXO STRING,
    TP_ESTADO_CIVIL STRING,
    TP_COR_RACA INT,
    TP_NACIONALIDADE INT,
    TP_ST_CONCLUSAO INT,
    TP_ANO_CONCLUIU INT,
    TP_ESCOLA INT,
    TP_ENSINO INT,
    IN_TREINEIRO INT,
    CO_MUNICIPIO_ESC INT,
    NO_MUNICIPIO_ESC STRING,
    CO_UF_ESC INT,
    SG_UF_ESC STRING,
    TP_DEPENDENCIA_ADM_ESC INT,
    TP_LOCALIZACAO_ESC INT,
    TP_SIT_FUNC_ESC INT,
    CO_MUNICIPIO_PROVA INT,
    NO_MUNICIPIO_PROVA STRING,
    CO_UF_PROVA INT,
    SG_UF_PROVA STRING,
    TP_PRESENCA_CN INT,
    TP_PRESENCA_CH INT,
    TP_PRESENCA_LC INT,
    TP_PRESENCA_MT INT,
    CO_PROVA_CN INT,
    CO_PROVA_CH INT,
    CO_PROVA_LC INT,
    CO_PROVA_MT INT,
    NU_NOTA_CN DOUBLE,
    NU_NOTA_CH DOUBLE,
    NU_NOTA_LC DOUBLE,
    NU_NOTA_MT DOUBLE,
    TX_RESPOSTAS_CN STRING,
    TX_RESPOSTAS_CH STRING,
    TX_RESPOSTAS_LC STRING,
    TX_RESPOSTAS_MT STRING,
    TP_LINGUA INT,
    TX_GABARITO_CN STRING,
    TX_GABARITO_CH STRING,
    TX_GABARITO_LC STRING,
    TX_GABARITO_MT STRING,
    TP_STATUS_REDACAO INT,
    NU_NOTA_COMP1 DOUBLE,
    NU_NOTA_COMP2 DOUBLE,
    NU_NOTA_COMP3 DOUBLE,
    NU_NOTA_COMP4 DOUBLE,
    NU_NOTA_COMP5 DOUBLE,
    NU_NOTA_REDACAO DOUBLE,
    Q001 STRING,
    Q002 STRING,
    Q003 STRING,
    Q004 STRING,
    Q005 STRING,
    Q006 STRING,
    Q007 STRING,
    Q008 STRING,
    Q009 STRING,
    Q010 STRING,
    Q011 STRING,
    Q012 STRING,
    Q013 STRING,
    Q014 STRING,
    Q015 STRING,
    Q016 STRING,
    Q017 STRING,
    Q018 STRING,
    Q019 STRING,
    Q020 STRING,
    Q021 STRING,
    Q022 STRING,
    Q023 STRING,
    Q024 STRING,
    Q025 STRING
)
USING iceberg
LOCATION 's3a://bronze/enem_2019/'
""")

DataFrame[]

In [16]:
spark.sql("""
CREATE OR REPLACE TABLE nessie.bronze.enem_2020 (
    NU_INSCRICAO STRING,
    NU_ANO INT,
    TP_FAIXA_ETARIA INT,
    TP_SEXO STRING,
    TP_ESTADO_CIVIL STRING,
    TP_COR_RACA INT,
    TP_NACIONALIDADE INT,
    TP_ST_CONCLUSAO INT,
    TP_ANO_CONCLUIU INT,
    TP_ESCOLA INT,
    TP_ENSINO INT,
    IN_TREINEIRO INT,
    CO_MUNICIPIO_ESC INT,
    NO_MUNICIPIO_ESC STRING,
    CO_UF_ESC INT,
    SG_UF_ESC STRING,
    TP_DEPENDENCIA_ADM_ESC INT,
    TP_LOCALIZACAO_ESC INT,
    TP_SIT_FUNC_ESC INT,
    CO_MUNICIPIO_PROVA INT,
    NO_MUNICIPIO_PROVA STRING,
    CO_UF_PROVA INT,
    SG_UF_PROVA STRING,
    TP_PRESENCA_CN INT,
    TP_PRESENCA_CH INT,
    TP_PRESENCA_LC INT,
    TP_PRESENCA_MT INT,
    CO_PROVA_CN INT,
    CO_PROVA_CH INT,
    CO_PROVA_LC INT,
    CO_PROVA_MT INT,
    NU_NOTA_CN DOUBLE,
    NU_NOTA_CH DOUBLE,
    NU_NOTA_LC DOUBLE,
    NU_NOTA_MT DOUBLE,
    TX_RESPOSTAS_CN STRING,
    TX_RESPOSTAS_CH STRING,
    TX_RESPOSTAS_LC STRING,
    TX_RESPOSTAS_MT STRING,
    TP_LINGUA INT,
    TX_GABARITO_CN STRING,
    TX_GABARITO_CH STRING,
    TX_GABARITO_LC STRING,
    TX_GABARITO_MT STRING,
    TP_STATUS_REDACAO INT,
    NU_NOTA_COMP1 DOUBLE,
    NU_NOTA_COMP2 DOUBLE,
    NU_NOTA_COMP3 DOUBLE,
    NU_NOTA_COMP4 DOUBLE,
    NU_NOTA_COMP5 DOUBLE,
    NU_NOTA_REDACAO DOUBLE,
    Q001 STRING,
    Q002 STRING,
    Q003 STRING,
    Q004 STRING,
    Q005 STRING,
    Q006 STRING,
    Q007 STRING,
    Q008 STRING,
    Q009 STRING,
    Q010 STRING,
    Q011 STRING,
    Q012 STRING,
    Q013 STRING,
    Q014 STRING,
    Q015 STRING,
    Q016 STRING,
    Q017 STRING,
    Q018 STRING,
    Q019 STRING,
    Q020 STRING,
    Q021 STRING,
    Q022 STRING,
    Q023 STRING,
    Q024 STRING,
    Q025 STRING
)
USING iceberg
LOCATION 's3a://bronze/enem_2020/'
""")

DataFrame[]

In [15]:
spark.sql("""
CREATE OR REPLACE TABLE nessie.bronze.enem_2021 (
    NU_INSCRICAO STRING,
    NU_ANO INT,
    TP_FAIXA_ETARIA INT,
    TP_SEXO STRING,
    TP_ESTADO_CIVIL STRING,
    TP_COR_RACA INT,
    TP_NACIONALIDADE INT,
    TP_ST_CONCLUSAO INT,
    TP_ANO_CONCLUIU INT,
    TP_ESCOLA INT,
    TP_ENSINO INT,
    IN_TREINEIRO INT,
    CO_MUNICIPIO_ESC INT,
    NO_MUNICIPIO_ESC STRING,
    CO_UF_ESC INT,
    SG_UF_ESC STRING,
    TP_DEPENDENCIA_ADM_ESC INT,
    TP_LOCALIZACAO_ESC INT,
    TP_SIT_FUNC_ESC INT,
    CO_MUNICIPIO_PROVA INT,
    NO_MUNICIPIO_PROVA STRING,
    CO_UF_PROVA INT,
    SG_UF_PROVA STRING,
    TP_PRESENCA_CN INT,
    TP_PRESENCA_CH INT,
    TP_PRESENCA_LC INT,
    TP_PRESENCA_MT INT,
    CO_PROVA_CN INT,
    CO_PROVA_CH INT,
    CO_PROVA_LC INT,
    CO_PROVA_MT INT,
    NU_NOTA_CN DOUBLE,
    NU_NOTA_CH DOUBLE,
    NU_NOTA_LC DOUBLE,
    NU_NOTA_MT DOUBLE,
    TX_RESPOSTAS_CN STRING,
    TX_RESPOSTAS_CH STRING,
    TX_RESPOSTAS_LC STRING,
    TX_RESPOSTAS_MT STRING,
    TP_LINGUA INT,
    TX_GABARITO_CN STRING,
    TX_GABARITO_CH STRING,
    TX_GABARITO_LC STRING,
    TX_GABARITO_MT STRING,
    TP_STATUS_REDACAO INT,
    NU_NOTA_COMP1 DOUBLE,
    NU_NOTA_COMP2 DOUBLE,
    NU_NOTA_COMP3 DOUBLE,
    NU_NOTA_COMP4 DOUBLE,
    NU_NOTA_COMP5 DOUBLE,
    NU_NOTA_REDACAO DOUBLE,
    Q001 STRING,
    Q002 STRING,
    Q003 STRING,
    Q004 STRING,
    Q005 STRING,
    Q006 STRING,
    Q007 STRING,
    Q008 STRING,
    Q009 STRING,
    Q010 STRING,
    Q011 STRING,
    Q012 STRING,
    Q013 STRING,
    Q014 STRING,
    Q015 STRING,
    Q016 STRING,
    Q017 STRING,
    Q018 STRING,
    Q019 STRING,
    Q020 STRING,
    Q021 STRING,
    Q022 STRING,
    Q023 STRING,
    Q024 STRING,
    Q025 STRING
)
USING iceberg
LOCATION 's3a://bronze/enem_2021/'
""")

DataFrame[]

In [14]:
spark.sql("""
CREATE OR REPLACE TABLE nessie.bronze.enem_2022 (
    NU_INSCRICAO STRING,
    NU_ANO INT,
    TP_FAIXA_ETARIA INT,
    TP_SEXO STRING,
    TP_ESTADO_CIVIL STRING,
    TP_COR_RACA INT,
    TP_NACIONALIDADE INT,
    TP_ST_CONCLUSAO INT,
    TP_ANO_CONCLUIU INT,
    TP_ESCOLA INT,
    TP_ENSINO INT,
    IN_TREINEIRO INT,
    CO_MUNICIPIO_ESC INT,
    NO_MUNICIPIO_ESC STRING,
    CO_UF_ESC INT,
    SG_UF_ESC STRING,
    TP_DEPENDENCIA_ADM_ESC INT,
    TP_LOCALIZACAO_ESC INT,
    TP_SIT_FUNC_ESC INT,
    CO_MUNICIPIO_PROVA INT,
    NO_MUNICIPIO_PROVA STRING,
    CO_UF_PROVA INT,
    SG_UF_PROVA STRING,
    TP_PRESENCA_CN INT,
    TP_PRESENCA_CH INT,
    TP_PRESENCA_LC INT,
    TP_PRESENCA_MT INT,
    CO_PROVA_CN INT,
    CO_PROVA_CH INT,
    CO_PROVA_LC INT,
    CO_PROVA_MT INT,
    NU_NOTA_CN DOUBLE,
    NU_NOTA_CH DOUBLE,
    NU_NOTA_LC DOUBLE,
    NU_NOTA_MT DOUBLE,
    TX_RESPOSTAS_CN STRING,
    TX_RESPOSTAS_CH STRING,
    TX_RESPOSTAS_LC STRING,
    TX_RESPOSTAS_MT STRING,
    TP_LINGUA INT,
    TX_GABARITO_CN STRING,
    TX_GABARITO_CH STRING,
    TX_GABARITO_LC STRING,
    TX_GABARITO_MT STRING,
    TP_STATUS_REDACAO INT,
    NU_NOTA_COMP1 DOUBLE,
    NU_NOTA_COMP2 DOUBLE,
    NU_NOTA_COMP3 DOUBLE,
    NU_NOTA_COMP4 DOUBLE,
    NU_NOTA_COMP5 DOUBLE,
    NU_NOTA_REDACAO DOUBLE,
    Q001 STRING,
    Q002 STRING,
    Q003 STRING,
    Q004 STRING,
    Q005 STRING,
    Q006 STRING,
    Q007 STRING,
    Q008 STRING,
    Q009 STRING,
    Q010 STRING,
    Q011 STRING,
    Q012 STRING,
    Q013 STRING,
    Q014 STRING,
    Q015 STRING,
    Q016 STRING,
    Q017 STRING,
    Q018 STRING,
    Q019 STRING,
    Q020 STRING,
    Q021 STRING,
    Q022 STRING,
    Q023 STRING,
    Q024 STRING,
    Q025 STRING
)
USING iceberg
LOCATION 's3a://bronze/enem_2022/'
""")

DataFrame[]

In [13]:
spark.sql("""
CREATE OR REPLACE TABLE nessie.bronze.enem_2023 (
    NU_INSCRICAO STRING,
    NU_ANO INT,
    TP_FAIXA_ETARIA INT,
    TP_SEXO STRING,
    TP_ESTADO_CIVIL STRING,
    TP_COR_RACA INT,
    TP_NACIONALIDADE INT,
    TP_ST_CONCLUSAO INT,
    TP_ANO_CONCLUIU INT,
    TP_ESCOLA INT,
    TP_ENSINO INT,
    IN_TREINEIRO INT,
    CO_MUNICIPIO_ESC INT,
    NO_MUNICIPIO_ESC STRING,
    CO_UF_ESC INT,
    SG_UF_ESC STRING,
    TP_DEPENDENCIA_ADM_ESC INT,
    TP_LOCALIZACAO_ESC INT,
    TP_SIT_FUNC_ESC INT,
    CO_MUNICIPIO_PROVA INT,
    NO_MUNICIPIO_PROVA STRING,
    CO_UF_PROVA INT,
    SG_UF_PROVA STRING,
    TP_PRESENCA_CN INT,
    TP_PRESENCA_CH INT,
    TP_PRESENCA_LC INT,
    TP_PRESENCA_MT INT,
    CO_PROVA_CN INT,
    CO_PROVA_CH INT,
    CO_PROVA_LC INT,
    CO_PROVA_MT INT,
    NU_NOTA_CN DOUBLE,
    NU_NOTA_CH DOUBLE,
    NU_NOTA_LC DOUBLE,
    NU_NOTA_MT DOUBLE,
    TX_RESPOSTAS_CN STRING,
    TX_RESPOSTAS_CH STRING,
    TX_RESPOSTAS_LC STRING,
    TX_RESPOSTAS_MT STRING,
    TP_LINGUA INT,
    TX_GABARITO_CN STRING,
    TX_GABARITO_CH STRING,
    TX_GABARITO_LC STRING,
    TX_GABARITO_MT STRING,
    TP_STATUS_REDACAO INT,
    NU_NOTA_COMP1 DOUBLE,
    NU_NOTA_COMP2 DOUBLE,
    NU_NOTA_COMP3 DOUBLE,
    NU_NOTA_COMP4 DOUBLE,
    NU_NOTA_COMP5 DOUBLE,
    NU_NOTA_REDACAO DOUBLE,
    Q001 STRING,
    Q002 STRING,
    Q003 STRING,
    Q004 STRING,
    Q005 STRING,
    Q006 STRING,
    Q007 STRING,
    Q008 STRING,
    Q009 STRING,
    Q010 STRING,
    Q011 STRING,
    Q012 STRING,
    Q013 STRING,
    Q014 STRING,
    Q015 STRING,
    Q016 STRING,
    Q017 STRING,
    Q018 STRING,
    Q019 STRING,
    Q020 STRING,
    Q021 STRING,
    Q022 STRING,
    Q023 STRING,
    Q024 STRING,
    Q025 STRING
)
USING iceberg
LOCATION 's3a://bronze/enem_2023/'
""")

DataFrame[]

In [18]:
spark.sql("SHOW CATALOGS").show()

+-------------+
|      catalog|
+-------------+
|       nessie|
|spark_catalog|
+-------------+

In [19]:
spark.sql("SHOW TABLES IN nessie.bronze").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|   bronze|enem_2019|      false|
|   bronze|enem_2020|      false|
|   bronze|enem_2021|      false|
|   bronze|enem_2022|      false|
|   bronze|enem_2023|      false|
+---------+---------+-----------+

In [20]:
enem_2019.write.format("iceberg").mode("overwrite").save("nessie.bronze.enem_2019")
enem_2020.write.format("iceberg").mode("overwrite").save("nessie.bronze.enem_2020")
enem_2021.write.format("iceberg").mode("overwrite").save("nessie.bronze.enem_2021")
enem_2022.write.format("iceberg").mode("overwrite").save("nessie.bronze.enem_2022")
enem_2023.write.format("iceberg").mode("overwrite").save("nessie.bronze.enem_2023")

In [21]:
spark.sql("SELECT * FROM nessie.bronze.enem_2023").show()

+------------+------+---------------+-------+---------------+-----------+----------------+---------------+---------------+---------+---------+------------+----------------+----------------+---------+---------+----------------------+------------------+---------------+------------------+--------------------+-----------+-----------+--------------+--------------+--------------+--------------+-----------+-----------+-----------+-----------+----------+----------+----------+----------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------------+-----------------+-------------+-------------+-------------+-------------+-------------+---------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|NU_INSCRICAO|NU_ANO|TP_FAIXA_ETARIA|TP_SEXO|TP_ESTADO_CIVIL|TP_COR_RACA|TP_NACIONALIDADE|TP_ST_CONCLUSAO|TP_ANO_CONCLUIU|TP_ESCOLA|TP_ENSINO|IN_TREINEIRO|CO_MUNICIPIO_ESC|NO_MUNICIPIO_ESC|CO_UF_ESC|SG_UF_ESC|TP_DEPENDENCIA_ADM_ESC|TP_LOCALIZACAO_ESC|TP_SIT_FUNC_ESC|CO_MUNICIPIO_PROVA|  NO_MUNICIPIO_PROVA|CO_UF_PROVA|SG_UF_PROVA|TP_PRESENCA_CN|TP_PRESENCA_CH|TP_PRESENCA_LC|TP_PRESENCA_MT|CO_PROVA_CN|CO_PROVA_CH|CO_PROVA_LC|CO_PROVA_MT|NU_NOTA_CN|NU_NOTA_CH|NU_NOTA_LC|NU_NOTA_MT|     TX_RESPOSTAS_CN|     TX_RESPOSTAS_CH|     TX_RESPOSTAS_LC|     TX_RESPOSTAS_MT|TP_LINGUA|      TX_GABARITO_CN|      TX_GABARITO_CH|      TX_GABARITO_LC|      TX_GABARITO_MT|TP_STATUS_REDACAO|NU_NOTA_COMP1|NU_NOTA_COMP2|NU_NOTA_COMP3|NU_NOTA_COMP4|NU_NOTA_COMP5|NU_NOTA_REDACAO|Q001|Q002|Q003|Q004|Q005|Q006|Q007|Q008|Q009|Q010|Q011|Q012|Q013|Q014|Q015|Q016|Q017|Q018|Q019|Q020|Q021|Q022|Q023|Q024|Q025|
+------------+------+---------------+-------+---------------+-----------+----------------+---------------+---------------+---------+---------+------------+----------------+----------------+---------+---------+----------------------+------------------+---------------+------------------+--------------------+-----------+-----------+--------------+--------------+--------------+--------------+-----------+-----------+-----------+-----------+----------+----------+----------+----------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------------+-----------------+-------------+-------------+-------------+-------------+-------------+---------------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|210059787242|  2023|              4|      F|              1|          3|               1|              1|              2|        1|     NULL|           0|            NULL|            NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           2604106|             Caruaru|         26|         PE|             0|             0|             0|             0|       NULL|       NULL|       NULL|       NULL|      NULL|      NULL|      NULL|      NULL|                NULL|                NULL|                NULL|                NULL|        0|                NULL|                NULL|                NULL|                NULL|             NULL|         NULL|         NULL|         NULL|         NULL|         NULL|           NULL|   B|   B|   C|   C|   4|   C|   A|   B|   C|   A|   A|   B|   B|   A|   A|   B|   A|   A|   C|   A|   A|   D|   A|   A|   B|
|210060270853|  2023|              8|      F|              0|          4|               1|              1|              5|        1|     NULL|           0|            NULL|            NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           1600303|              Macap�|         16|         AP|             0|             0|             0|             0|       NULL|       NULL|       NULL|       NULL|      NULL|      NULL|      NULL|      NULL|                NULL|                NULL|                NULL|                NULL|        1|                NULL|                NULL|                NULL|                NULL|             NULL|         NULL|         NULL|         NULL|         NULL|         NULL|           NULL|   B|   B|   A|   B|   5|   C|   A|   B|   C|   A|   A|   B|   B|   B|   A|   A|   A|   A|   B|   A|   A|   C|   A|   A|   A|
|210060257814|  2023|              3|      F|              1|          3|               1|              2|              0|        2|        1|           0|         5218805|       Rio Verde|       52|       GO|                     4|                 1|              1|           5218805|           Rio Verde|         52|         GO|             1|             1|             1|             1|       1222|       1191|       1201|       1212|     447.4|     560.1|     480.0|     433.7|CBCEECDAABCBCCCAC...|CDBEACBEAAEEAAAEB...|CAECDDAEAEBACBBBC...|ACEDBEBCDBCADEDCA...|        0|CAAADCCCCDDDABDCA...|CDAEECABAACEAADEC...|BBDABAAEBADACEEDC...|DCECACCBDECBEEABE...|                1|        160.0|        140.0|        140.0|        180.0|        140.0|          760.0|   H|   F|   D|   D|   2|   D|   A|   B|   D|   A|   A|   B|   A|   A|   A|   B|   A|   A|   B|   A|   A|   B|   A|   B|   B|
|210060609566|  2023|              6|      F|              1|          1|               1|              1|              0|        1|     NULL|           0|            NULL|            NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           3304557|      Rio de Janeiro|         33|         RJ|             0|             0|             0|             0|       NULL|       NULL|       NULL|       NULL|      NULL|      NULL|      NULL|      NULL|                NULL|                NULL|                NULL|                NULL|        0|                NULL|                NULL|                NULL|                NULL|             NULL|         NULL|         NULL|         NULL|         NULL|         NULL|           NULL|   C|   H|   C|   B|   4|   B|   A|   B|   B|   A|   A|   B|   A|   B|   A|   A|   A|   A|   B|   A|   A|   C|   A|   A|   B|
|210060346036|  2023|              2|      M|              1|          3|               1|              3|              0|        1|     NULL|           1|            NULL|            NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           3162708| S�o Jo�o do Para�so|         31|         MG|             1|             1|             1|             1|       1221|       1193|       1204|       1211|     446.9|     456.7|     430.3|     518.8|EBACBDCDEDCABBCED...|CCBBBBABDDCBDDECE...|CDEABBBADBADDABBE...|BBCCABBCDCDBDEDBB...|        0|DBEABDABDCACDBECD...|ACEEABAADCDAADEAB...|DBABBAEBAAAACDACD...|BCCDEEABCBEDCEABB...|                6|          0.0|          0.0|          0.0|          0.0|          0.0|            0.0|   C|   G|   C|   D|   3|   D|   A|   C|   E|   B|   B|   B|   B|   B|   A|   B|   B|   B|   A|   A|   A|   E|   A|   B|   B|
|210060498501|  2023|              2|      M|              1|          1|               1|              2|              0|        3|        1|           0|         2800308|         Aracaju|       28|       SE|                     4|                 1|              1|           2800308|             Aracaju|         28|         SE|             1|             1|             1|             1|       1224|       1192|       1202|       1214|     645.4|     637.4|     622.0|     844.6|CECDAEBACDBEDBDEA...|DAAADEADCDCDBABCD...|BBBDACCAAEDAAEBBA...|ECDAADAEBEACBEBCE...|        0|CDDDABBABDBEABDEC...|DBAADEADCDCABABCD...|BBBDAABAEACCEEEDE...|EBDADDAEBEACBEDCE...|                1|        140.0|        200.0|        160.0|        180.0|        200.0|          880.0|   E|   G|   C|   E|   5|   L|   A|   C|   D|   B|   B|   B|   B|   B|   A|   B|   A|   B|   E|   A|   A|   E|   B|   C|   B|
|210059141972|  2023|              4|      F|              1|          2|               1|              2|              0|        2|        1|           0|            NULL|            NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           2611606|              Recife|         26|         PE|             1|             1|             1|             1|       1224|       1192|       1202|       1214|     459.7|     444.5|     487.3|     461.4|ADCBBADEAEBDCEDCA...|ECDADEECCCBAEDCAB...|BDCDECAEAECDBCDAB...|EDCADEDCEBDDBCEAD...|        1|CDDDABBABDBEABDEC...|DBAADEADCDCABABCD...|BBBDAABAEACCEEEDE...|EBDADDAEBEACBEDCE...|                1|         60.0|        140.0|        120.0|        120.0|        100.0|          540.0|   D|   B|   B|   F|   5|   B|   A|   B|   C|   A|   A|   B|   A|   A|   A|   A|   A|   A|   B|   A|   A|   B|   A|   A|   B|
|210059484735|  2023|              4|      F|              1|          1|               1|              1|              1|        1|     NULL|           0|            NULL|            NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           3529005|             Mar�lia|         35|         SP|             1|             1|             1|             1|       1224|       1192|       1202|       1214|     649.2|     697.6|     634.7|     719.5|CBBDABBBDDBCBCDDE...|DBAADEADCDCDBABCE...|BBBDACCEAEBCACBCA...|EBDADDBEBDACBDBCD...|        0|CDDDABBABDBEABDEC...|DBAADEADCDCABABCD...|BBBDAABAEACCEEEDE...|EBDADDAEBEACBEDCE...|                1|        160.0|        200.0|        200.0|        200.0|        180.0|          940.0|   G|   G|   E|   E|   4|   G|   A|   E|   D|   C|   A|   B|   B|   C|   A|   B|   A|   B|   C|   A|   B|   E|   A|   C|   B|
|210061065436|  2023|             14|      F|              2|          3|               1|              1|             17|        1|     NULL|           0|            NULL|            NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           2508901|          Mamanguape|         25|         PB|             0|             0|             0|             0|       NULL|       NULL|       NULL|       NULL|      NULL|      NULL|      NULL|      NULL|                NULL|                NULL|                NULL|                NULL|        1|                NULL|                NULL|                NULL|                NULL|             NULL|         NULL|         NULL|         NULL|         NULL|         NULL|           NULL|   B|   D|   A|   B|   4|   C|   A|   B|   C|   A|   A|   B|   A|   B|   A|   B|   A|   A|   B|   A|   B|   C|   B|   A|   B|
|210060703282|  2023|              3|      M|              1|          2|               1|              2|              0|        2|        1|           0|            NULL|            NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           4317103|Sant'Ana do Livra...|         43|         RS|             1|             1|             1|             1|       1222|       1191|       1201|       1212|     554.1|     558.5|     534.7|     517.9|EEDEECCACCBDEEBDB...|CAADADABBACEAADEB...|BCAABDAAAEBCBBBBA...|DDECCBCCCAAAEBEEB...|        0|CAAADCCCCDDDABDCA...|CDAEECABAACEAADEC...|BBDABAAEBADACEEDC...|DCECACCBDECBEEABE...|                1|        120.0|        160.0|        120.0|        120.0|        160.0|          680.0|   D|   C|   F|   B|   3|   A|   A|   B|   D|   A|   A|   B|   A|   A|   A|   A|   A|   A|   B|   A|   A|   D|   A|   A|   B|
|210058501366|  2023|              8|      M|              1|          3|               1|              1|              6|        1|     NULL|           0|            NULL|            NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           3127701|Governador Valadares|         31|         MG|             1|             1|             1|             1|       1221|       1193|       1204|       1211|     539.8|     624.9|     610.7|     611.1|DBEDCACBCCDCDEBAE...|ACEEADAABCDAADDEA...|AEBAABECDACDEDAAC...|DCBCEEBDBADDEAABB...|        1|DBEABDABDCACDBECD...|ACEEABAADCDAADEAB...|DBABBAEBAAAACDACD...|BCCDEEABCBEDCEABB...|                1|        120.0|        120.0|        120.0|        120.0|         80.0|          560.0|   C|   G|   C|   D|   4|   F|   A|   C|   D|   B|   A|   B|   B|   B|   A|   A|   A|   A|   B|   A|   B|   D|   A|   B|   B|
|210059484736|  2023|              3|      F|              1|          3|               1|              2|              0|        2|        1|           0|         2902708|           Barra|       29|       BA|                     2|                 1|              1|           2902708|               Barra|         29|         BA|             1|             1|             1|             1|       1222|       1191|       1201|       1212|     462.8|     459.1|     502.2|     372.9|EACEBDCABDCBCDBAB...|ADAEDCAEBAEDBACBE...|ACEBECAAAEBDCBBAE...|CDDDBCBAAEDECDCEA...|        1|CAAADCCCCDDDABDCA...|CDAEECABAACEAADEC...|BBDABAAEBADACEEDC...|DCECACCBDECBEEABE...|                1|        160.0|        160.0|        160.0|        160.0|        160.0|          800.0|   H|   E|   F|   B|   2|   A|   A|   B|   C|   A|   A|   B|   A|   A|   A|   A|   A|   A|   B|   A|   A|   C|   A|   A|   B|
|210060511019|  2023|              9|      F|              1|          3|               1|              1|              0|        1|     NULL|           0|            NULL|            NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           4316907|         Santa Maria|         43|         RS|             1|             1|             1|             1|       1222|       1191|       1201|       1212|     565.5|     669.2|     651.8|     603.3|CEDEDEEAADDBCBCEB...|CDAEEAABDACEAADEC...|BCDABDACAEACCDEAD...|DBDCBCDCECCBCBCEC...|        0|CAAADCCCCDDDABDCA...|CDAEECABAACEAADEC...|BBDABAAEBADACEEDC...|DCECACCBDECBEEABE...|                1|        140.0|        200.0|        140.0|        180.0|        120.0|          780.0|   E|   E|   C|   B|   2|   C|   A|   B|   B|   B|   A|   B|   B|   B|   A|   B|   A|   A|   B|   A|   A|   B|   A|   A|   B|
|210058663654|  2023|              5|      F|              1|          3|               1|              1|              1|        1|     NULL|           0|            NULL|            NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           3304557|      Rio de Janeiro|         33|         RJ|             0|             0|             0|             0|       NULL|       NULL|       NULL|       NULL|      NULL|      NULL|      NULL|      NULL|                NULL|                NULL|                NULL|                NULL|        0|                NULL|                NULL|                NULL|                NULL|             NULL|         NULL|         NULL|         NULL|         NULL|         NULL|           NULL|   E|   E|   C|   B|   4|   C|   A|   B|   C|   A|   A|   B|   A|   B|   A|   B|   A|   A|   C|   A|   A|   D|   A|   B|   B|
|210058572175|  2023|              3|      F|              1|          3|               1|              2|              0|        2|        1|           0|            NULL|            NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           2613909|       Serra Talhada|         26|         PE|             1|             1|             1|             1|       1223|       1194|       1203|       1213|     520.7|     438.1|     439.0|     489.0|CBDACAAECEDBACCDA...|ABCDBABECAADBCDCE...|ACBACAAEDACDDCEAB...|EEDBEACCADDCCDCEE...|        1|CEDAEEDEECCEBADCC...|ABCDCBDACDAEACEEC...|BDBBABAAAEAAECBBE...|EBDEEBDADDABCCBCC...|                1|         80.0|        160.0|        120.0|        120.0|         80.0|          560.0|   D|   F|   A|   D|   5|   B|   A|   C|   C|   B|   A|   B|   B|   B|   A|   A|   A|   A|   B|   A|   B|   E|   A|   B|   B|
|210059368394|  2023|              3|      F|              1|          3|               1|              2|              0|        2|        1|           0|         3550308|       S�o Paulo|       35|       SP|                     2|                 1|              1|           3550308|           S�o Paulo|         35|         SP|             1|             1|             1|             1|       1221|       1193|       1204|       1211|     455.7|     507.1|     465.4|     361.8|ABEBECDBBBDECEADD...|AEBDCEEBDCDCADAAB...|CDCBEADBCABACBAAE...|BAAADACDAADBDAAED...|        0|DBEABDABDCACDBECD...|ACEEABAADCDAADEAB...|DBABBAEBAAAACDACD...|BCCDEEABCBEDCEABB...|                1|        120.0|        120.0|        100.0|        100.0|          0.0|          440.0|   E|   E|   B|   B|   4|   C|   A|   B|   C|   B|   A|   B|   A|   A|   A|   A|   A|   B|   B|   A|   A|   D|   A|   A|   B|
|210059141973|  2023|              4|      F|              1|          1|               1|              1|              1|        1|     NULL|           0|            NULL|            NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           3121605|          Diamantina|         31|         MG|             1|             1|             1|             1|       1221|       1193|       1204|       1211|     580.3|     622.5|     662.6|     680.7|DBEEECBCDAACEABCD...|CDEEABBADCDAADECB...|DBABBAAEDACDCDAAC...|DCBCEECBEECCCCCBC...|        0|DBEABDABDCACDBECD...|ACEEABAADCDAADEAB...|DBABBAEBAAAACDACD...|BCCDEEABCBEDCEABB...|                1|        160.0|        200.0|        160.0|        180.0|        200.0|          900.0|   E|   G|   D|   D|   4|   G|   A|   C|   D|   C|   B|   B|   A|   B|   A|   B|   A|   A|   B|   A|   B|   D|   A|   B|   B|
|210061385762|  2023|             17|      F|              1|          2|               1|              1|              0|        1|     NULL|           0|            NULL|            NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           1501402|               Bel�m|         15|         PA|             0|             0|             0|             0|       NULL|       NULL|       NULL|       NULL|      NULL|      NULL|      NULL|      NULL|                NULL|                NULL|                NULL|                NULL|        1|                NULL|                NULL|                NULL|                NULL|             NULL|         NULL|         NULL|         NULL|         NULL|         NULL|           NULL|   A|   A|   A|   A|   4|   D|   A|   B|   C|   A|   B|   B|   A|   A|   A|   A|   A|   A|   B|   A|   B|   E|   A|   A|   B|
|210059449846|  2023|              5|      F|              1|          1|               1|              1|              2|        1|     NULL|           0|            NULL|            NULL|     NULL|     NULL|                  NULL|              NULL|           NULL|           4314902|        Porto Alegre|         43|         RS|             0|             0|             0|             0|       NULL|       NULL|       NULL|       NULL|      NULL|      NULL|      NULL|      NULL|                NULL|                NULL|                NULL|                NULL|        1|                NULL|                NULL|                NULL|                NULL|             NULL|         NULL|         NULL|         NULL|         NULL|         NULL|           NULL|   H|   E|   C|   B|   4|   C|   A|   B|   A|   A|   A|   B|   B|   B|   A|   A|   A|   A|   B|   A|   A|   D|   A|   B|   B|

In [23]:
spark.sql("SELECT count(*) FROM nessie.bronze.enem_2023").show()

+--------+
|count(1)|
+--------+
| 3933955|
+--------+