In [1]:
import pyspark
from pyspark.sql import SparkSession
import os

AWS_ACCESS_KEY = os.getenv("AWS_ACCESS_KEY_ID")
AWS_SECRET_KEY = os.getenv("AWS_SECRET_ACCESS_KEY")
S3_ENDPOINT = os.getenv("S3_ENDPOINT")
NESSIE_URI = os.getenv("NESSIE_URI")

MASTER = "spark://spark-master:7077"

jar_packages = [
    "org.apache.iceberg:iceberg-spark-runtime-3.5_2.12:1.6.1",
    "org.projectnessie.nessie-integrations:nessie-spark-extensions-3.5_2.12:0.99.0",
    "org.apache.iceberg:iceberg-aws-bundle:1.6.1"
  ]

spark_extensions = [
    "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions",
    "org.projectnessie.spark.extensions.NessieSparkSessionExtensions"
]
conf = (
    pyspark.SparkConf()
    .setAppName("Silver Iceberg")
    .set("spark.master", MASTER)
    .set("spark.jars.packages", ','.join(jar_packages))
    .set("spark.sql.extensions","org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions,org.projectnessie.spark.extensions.NessieSparkSessionExtensions")
    .set("spark.executor.memory", "2g")
    .set("spark.executor.cores", "2")
    .set("spark.executor.instances", "1")
    .set("spark.driver.memory", "2g")
    .set("spark.sql.catalog.nessie", "org.apache.iceberg.spark.SparkCatalog")
    .set("spark.sql.catalog.nessie.s3.path-style-access", "true")
    .set("spark.sql.catalog.nessie.s3.endpoint", S3_ENDPOINT)
    .set("spark.sql.catalog.nessie.warehouse", "s3a://gold/")
    .set("spark.sql.catalog.nessie.catalog-impl", "org.apache.iceberg.nessie.NessieCatalog")
    .set("spark.sql.catalog.nessie.io-impl", "org.apache.iceberg.aws.s3.S3FileIO")
    .set("spark.sql.catalog.nessie.uri", NESSIE_URI)
    .set("spark.sql.catalog.nessie.ref", "main")
    .set("spark.sql.catalog.nessie.authentication.type", "NONE")
    .set("spark.sql.catalog.nessie.cache-enabled", "false")
    .set("spark.hadoop.fs.s3a.access.key", AWS_ACCESS_KEY)
    .set("spark.hadoop.fs.s3a.secret.key", AWS_SECRET_KEY)
    .set("spark.hadoop.fs.s3a.endpoint", S3_ENDPOINT)
    .set("spark.hadoop.fs.s3a.path.style.access", "true")
    .set("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")
)

spark = SparkSession.builder.config(conf=conf).getOrCreate()
spark.sparkContext.setLogLevel("ERROR")
spark

:: loading settings :: url = jar:file:/opt/bitnami/spark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /root/.ivy2/cache
The jars for the packages stored in: /root/.ivy2/jars
org.apache.iceberg#iceberg-spark-runtime-3.5_2.12 added as a dependency
org.projectnessie.nessie-integrations#nessie-spark-extensions-3.5_2.12 added as a dependency
org.apache.iceberg#iceberg-aws-bundle added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-10371fbe-5845-444a-86d5-21299f02aff3;1.0
	confs: [default]
	found org.apache.iceberg#iceberg-spark-runtime-3.5_2.12;1.6.1 in central
	found org.projectnessie.nessie-integrations#nessie-spark-extensions-3.5_2.12;0.99.0 in central
	found org.apache.iceberg#iceberg-aws-bundle;1.6.1 in central
:: resolution report :: resolve 723ms :: artifacts dl 30ms
	:: modules in use:
	org.apache.iceberg#iceberg-aws-bundle;1.6.1 from central in [default]
	org.apache.iceberg#iceberg-spark-runtime-3.5_2.12;1.6.1 from central in [default]
	org.projectnessie.nessie-integrations#nessie-spark-extensions-3.5_2.12;0.99.0 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   3   |   0   |   0   |   0   ||   3   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-10371fbe-5845-444a-86d5-21299f02aff3
	confs: [default]
	0 artifacts copied, 3 already retrieved (0kB/12ms)
24/12/16 00:37:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
# leitura da tabela iceberg da camada silver e criação de uma tabela temporaria
spark.read.format("iceberg").load("nessie.silver.tabela_enem_silver").createOrReplaceTempView("tabela_enem_silver")

In [4]:
spark.sql("""
CREATE NAMESPACE IF NOT EXISTS nessie.gold
""")

DataFrame[]

**CRIAÇÃO DA TABELA DE DIM.APLIACAO_PROVA NA CAMADA GOLD**

In [24]:
spark.sql("""
    CREATE TABLE nessie.gold.dim_aplicacao_prova
    USING iceberg
    LOCATION 's3a://gold/dim_aplicacao_prova/'
    AS SELECT 
        ID AS ID_APLICACAO_PROVA,
        CO_MUNICIPIO_PROVA,
        NO_MUNICIPIO_PROVA,
        CO_UF_PROVA,
        SG_UF_PROVA
      FROM tabela_enem_silver LIMIT 0;
    """)

spark.sql("""
    INSERT INTO nessie.gold.dim_aplicacao_prova
    SELECT 
      ID AS ID_APLICACAO_PROVA,
      CO_MUNICIPIO_PROVA,
      NO_MUNICIPIO_PROVA,
      CO_UF_PROVA,
      SG_UF_PROVA
    FROM tabela_enem_silver;
    """)

DataFrame[]

In [26]:
spark.sql("""SELECT * FROM nessie.gold.dim_aplicacao_prova""").show()

+------------------+------------------+------------------+-----------+-----------+
|ID_APLICACAO_PROVA|CO_MUNICIPIO_PROVA|NO_MUNICIPIO_PROVA|CO_UF_PROVA|SG_UF_PROVA|
+------------------+------------------+------------------+-----------+-----------+
|           4583466|           2408102|             Natal|         24|         RN|
|           4583467|           2407203|             Macau|         24|         RN|
|           4583468|           2408102|             Natal|         24|         RN|
|           4583469|           2408102|             Natal|         24|         RN|
|           4583470|           2402006|             Caic�|         24|         RN|
|           4583471|           2404200|         Goianinha|         24|         RN|
|           4583472|           2402006|             Caic�|         24|         RN|
|           4583473|           2408102|             Natal|         24|         RN|
|           4583474|           2406106|          Jucurutu|         24|         RN|
|           4583475|           2408102|             Natal|         24|         RN|
|           4583476|           2409407|    Pau dos Ferros|         24|         RN|
|           4583477|           2408102|             Natal|         24|         RN|
|           4583478|           2408102|             Natal|         24|         RN|
|           4583479|           2411502|     Santo Ant�nio|         24|         RN|
|           4583480|           2414407|            Touros|         24|         RN|
|           4583481|           2403103|     Currais Novos|         24|         RN|
|           4583482|           2408102|             Natal|         24|         RN|
|           4583483|           2411205|        Santa Cruz|         24|         RN|
|           4583484|           2408102|             Natal|         24|         RN|
|           4583485|           2402303|          Cara�bas|         24|         RN|
+------------------+------------------+------------------+-----------+-----------+
only showing top 20 rows

**CRIAÇÃO DA TABELA DE DIM.ESCOLA NA CAMADA GOLD**

In [28]:
spark.sql("""
    CREATE TABLE nessie.gold.dim_escola
    USING iceberg
    LOCATION 's3a://gold/dim_escola/'
    AS SELECT 
        ID AS ID_ESCOLA,
        CO_MUNICIPIO_ESC,
        NO_MUNICIPIO_ESC,
        CO_UF_ESC,
        SG_UF_ESC,
        TP_DEPENDENCIA_ADM_ESC,
        TP_LOCALIZACAO_ESC,
        TP_SIT_FUNC_ESC
      FROM tabela_enem_silver LIMIT 0;
    """)

spark.sql("""
    INSERT INTO nessie.gold.dim_escola
    SELECT 
      ID AS ID_ESCOLA,
      CO_MUNICIPIO_ESC,
      NO_MUNICIPIO_ESC,
      CO_UF_ESC,
      SG_UF_ESC,
    CASE
      WHEN TP_DEPENDENCIA_ADM_ESC = '1' THEN 'Federal'
      WHEN TP_DEPENDENCIA_ADM_ESC = '2' THEN 'Estadual'
      WHEN TP_DEPENDENCIA_ADM_ESC = '3' THEN 'Municipal'
      WHEN TP_DEPENDENCIA_ADM_ESC = '4' THEN 'Privada'
      ELSE TP_DEPENDENCIA_ADM_ESC
    END AS TP_DEPENDENCIA_ADM_ESC,
    CASE
      WHEN TP_LOCALIZACAO_ESC = '1' THEN 'Urbana'
      WHEN TP_LOCALIZACAO_ESC = '2' THEN 'Rural'
      ELSE TP_LOCALIZACAO_ESC
    END AS TP_LOCALIZACAO_ESC,
    CASE
      WHEN TP_SIT_FUNC_ESC = '1' THEN 'Em atividade'
      WHEN TP_SIT_FUNC_ESC = '2' THEN 'Paralisada'
      WHEN TP_SIT_FUNC_ESC = '3' THEN 'Extinta'
      ELSE TP_SIT_FUNC_ESC
    END AS TP_SIT_FUNC_ESC
    FROM tabela_enem_silver;
    """)

DataFrame[]

In [33]:
spark.sql("""SELECT * FROM nessie.gold.dim_escola WHERE CO_MUNICIPIO_ESC != 0""").show()

+---------+----------------+--------------------+---------+---------+----------------------+------------------+---------------+
|ID_ESCOLA|CO_MUNICIPIO_ESC|    NO_MUNICIPIO_ESC|CO_UF_ESC|SG_UF_ESC|TP_DEPENDENCIA_ADM_ESC|TP_LOCALIZACAO_ESC|TP_SIT_FUNC_ESC|
+---------+----------------+--------------------+---------+---------+----------------------+------------------+---------------+
|  4583484|         2408102|               Natal|       24|       RN|              Estadual|            Urbana|   Em atividade|
|  4583488|         2408102|               Natal|       24|       RN|              Estadual|            Urbana|   Em atividade|
|  4583490|         2412005|S�o Gon�alo do Am...|       24|       RN|              Estadual|            Urbana|   Em atividade|
|  4583507|         2413003|         S�o Vicente|       24|       RN|              Estadual|            Urbana|   Em atividade|
|  4583508|         2403251|          Parnamirim|       24|       RN|              Estadual|            Urbana|   Em atividade|
|  4583523|         2404309|Governador Dix-Se...|       24|       RN|              Estadual|            Urbana|   Em atividade|
|  4583595|         2408102|               Natal|       24|       RN|              Estadual|            Urbana|   Em atividade|
|  4583656|         2400703|   Alto do Rodrigues|       24|       RN|              Estadual|            Urbana|   Em atividade|
|  4583664|         2403103|       Currais Novos|       24|       RN|              Estadual|            Urbana|   Em atividade|
|  4583677|         2403608|            Extremoz|       24|       RN|              Estadual|            Urbana|   Em atividade|
|  4583682|         2409902|          Pend�ncias|       24|       RN|              Estadual|            Urbana|   Em atividade|
|  4583692|         2408102|               Natal|       24|       RN|              Estadual|            Urbana|   Em atividade|
|  4583724|         2408102|               Natal|       24|       RN|               Federal|            Urbana|   Em atividade|
|  4583733|         2408102|               Natal|       24|       RN|              Estadual|            Urbana|   Em atividade|
|  4583750|         2402600|         Cear�-Mirim|       24|       RN|              Estadual|            Urbana|   Em atividade|
|  4583769|         2400802|             Angicos|       24|       RN|              Estadual|            Urbana|   Em atividade|
|  4583791|         2512408|            Puxinan�|       25|       PB|              Estadual|             Rural|   Em atividade|
|  4583821|         2507507|         Jo�o Pessoa|       25|       PB|              Estadual|            Urbana|   Em atividade|
|  4583826|         2507507|         Jo�o Pessoa|       25|       PB|               Privada|            Urbana|   Em atividade|
|  4583828|         2500700|S�o Jo�o do Rio d...|       25|       PB|              Estadual|            Urbana|   Em atividade|
+---------+----------------+--------------------+---------+---------+----------------------+------------------+---------------+
only showing top 20 rows

**CRIAÇÃO DA TABELA DE DIM.PARTICIPANTE NA CAMADA GOLD**

In [34]:
spark.sql("""
    CREATE TABLE nessie.gold.dim_participante
    USING iceberg
    LOCATION 's3a://gold/dim_participante/'
    AS SELECT 
        ID AS ID_PARTICIPANTE,
        NU_INSCRICAO,
        NU_ANO,
        TP_FAIXA_ETARIA,
        TP_SEXO,
        TP_ESTADO_CIVIL,
        TP_COR_RACA,
        TP_NACIONALIDADE,
        TP_ST_CONCLUSAO,
        TP_ANO_CONCLUIU,
        TP_ESCOLA,
        TP_ENSINO,
        IN_TREINEIRO
      FROM tabela_enem_silver LIMIT 0;
    """)

spark.sql("""
    INSERT INTO nessie.gold.dim_participante
    SELECT 
      ID AS ID_PARTICIPANTE,
      NU_INSCRICAO,
      NU_ANO,
      CASE
          WHEN TP_FAIXA_ETARIA = '1' THEN 'Menor de 17 anos'
          WHEN TP_FAIXA_ETARIA = '2' THEN '17 anos'
          WHEN TP_FAIXA_ETARIA = '3' THEN '18 anos'
          WHEN TP_FAIXA_ETARIA = '4' THEN '19 anos'
          WHEN TP_FAIXA_ETARIA = '5' THEN '20 anos'
          WHEN TP_FAIXA_ETARIA = '6' THEN '21 anos'
          WHEN TP_FAIXA_ETARIA = '7' THEN '22 anos'
          WHEN TP_FAIXA_ETARIA = '8' THEN '23 anos'
          WHEN TP_FAIXA_ETARIA = '9' THEN '24 anos'
          WHEN TP_FAIXA_ETARIA = '10' THEN '25 anos'
          WHEN TP_FAIXA_ETARIA = '11' THEN 'Entre 26 a 30 anos'
          WHEN TP_FAIXA_ETARIA = '12' THEN 'Entre 31 a 35 anos'
          WHEN TP_FAIXA_ETARIA = '13' THEN 'Entre 36 a 40 anos'
          WHEN TP_FAIXA_ETARIA = '14' THEN 'Entre 41 a 45 anos'
          WHEN TP_FAIXA_ETARIA = '15' THEN 'Entre 46 a 50 anos'
          WHEN TP_FAIXA_ETARIA = '16' THEN 'Entre 51 a 55 anos'
          WHEN TP_FAIXA_ETARIA = '17' THEN 'Entre 56 a 60 anos'
          WHEN TP_FAIXA_ETARIA = '18' THEN 'Entre 61 a 65 anos'
          WHEN TP_FAIXA_ETARIA = '19' THEN 'Entre 66 a 70 anos'
          WHEN TP_FAIXA_ETARIA = '20' THEN 'Maior de 70 anos'
          ELSE TP_FAIXA_ETARIA
      END AS TP_FAIXA_ETARIA,
      CASE
          WHEN TP_SEXO = 'F' THEN 'Feminino'
          WHEN TP_SEXO = 'M' THEN 'Masculino'
          ELSE 'Não encontrado'
      END AS TP_SEXO,
      CASE
          WHEN TP_ESTADO_CIVIL = '0' THEN 'Não informado'
          WHEN TP_ESTADO_CIVIL = '1' THEN 'Solteiro(a)'
          WHEN TP_ESTADO_CIVIL = '2' THEN 'Casado(a) Mora com companheiro(a)'
          WHEN TP_ESTADO_CIVIL = '3' THEN 'Divorciado(a)/Desquitado(a)/Separado(a)'
          WHEN TP_ESTADO_CIVIL = '4' THEN 'Viúvo(a)'
          ELSE TP_ESTADO_CIVIL
      END AS TP_ESTADO_CIVIL,
      CASE
          WHEN TP_COR_RACA = '0' THEN 'Não declarado'
          WHEN TP_COR_RACA = '1' THEN 'Branca'
          WHEN TP_COR_RACA = '2' THEN 'Preta'
          WHEN TP_COR_RACA = '3' THEN 'Parda'
          WHEN TP_COR_RACA = '4' THEN 'Amarela'
          WHEN TP_COR_RACA = '5' THEN 'Indígena'
          ELSE TP_COR_RACA
      END AS TP_COR_RACA,
      CASE
          WHEN TP_NACIONALIDADE = '0' THEN 'Não informado'
          WHEN TP_NACIONALIDADE = '1' THEN 'Brasileiro(a)'
          WHEN TP_NACIONALIDADE = '2' THEN 'Brasileiro(a) Naturalizado(a)'
          WHEN TP_NACIONALIDADE = '3' THEN 'Estrangeiro(a)'
          WHEN TP_NACIONALIDADE = '4' THEN 'Brasileiro(a) Nato(a), nascido(a) no exterior'
          ELSE TP_NACIONALIDADE
      END AS TP_NACIONALIDADE,
      CASE
          WHEN TP_ST_CONCLUSAO = '1' THEN 'Já concluí o Ensino Médio'
          WHEN TP_ST_CONCLUSAO = '2' THEN 'Estou cursando e concluirei o Ensino Médio em 2020'
          WHEN TP_ST_CONCLUSAO = '3' THEN 'Estou cursando e concluirei o Ensino Médio após 2020'
          WHEN TP_ST_CONCLUSAO = '4' THEN 'Não concluí e não estou cursando o Ensino Médio'
          ELSE TP_ST_CONCLUSAO
      END AS TP_ST_CONCLUSAO,
      CASE
          WHEN TP_ANO_CONCLUIU = '0' THEN 'Não informado'
          WHEN TP_ANO_CONCLUIU = '1' THEN '2019'
          WHEN TP_ANO_CONCLUIU = '2' THEN '2018'
          WHEN TP_ANO_CONCLUIU = '3' THEN '2017'
          WHEN TP_ANO_CONCLUIU = '4' THEN '2016'
          WHEN TP_ANO_CONCLUIU = '5' THEN '2015'
          WHEN TP_ANO_CONCLUIU = '6' THEN '2014'
          WHEN TP_ANO_CONCLUIU = '7' THEN '2013'
          WHEN TP_ANO_CONCLUIU = '8' THEN '2012'
          WHEN TP_ANO_CONCLUIU = '9' THEN '2011'
          WHEN TP_ANO_CONCLUIU = '10' THEN '2010'
          WHEN TP_ANO_CONCLUIU = '11' THEN '2009'
          WHEN TP_ANO_CONCLUIU = '12' THEN '2008'
          WHEN TP_ANO_CONCLUIU = '13' THEN '2007'
          WHEN TP_ANO_CONCLUIU = '14' THEN 'Antes de 2007'
          ELSE TP_ANO_CONCLUIU
      END AS TP_ANO_CONCLUIU,
      CASE
          WHEN TP_ESCOLA = '1' THEN 'Não Respondeu'
          WHEN TP_ESCOLA = '2' THEN 'Pública'
          WHEN TP_ESCOLA = '3' THEN 'Privada'
          WHEN TP_ESCOLA = '4' THEN 'Exterior'
          ELSE TP_ESCOLA
      END AS TP_ESCOLA,
      CASE
          WHEN TP_ENSINO = '1' THEN 'Ensino Regular'
          WHEN TP_ENSINO = '2' THEN 'Educação Especial - Modalidade Substitutiva'
          WHEN TP_ENSINO = '3' THEN 'Educação de Jovens e Adultos'
          ELSE TP_ENSINO
      END AS TP_ENSINO,
      CASE
          WHEN IN_TREINEIRO = '0' THEN 'Sim'
          WHEN IN_TREINEIRO = '1' THEN 'Não'
          ELSE IN_TREINEIRO
      END AS IN_TREINEIRO
    FROM tabela_enem_silver;
    """)

DataFrame[]

In [36]:
spark.sql("""SELECT * FROM nessie.gold.dim_participante""").show()

+---------------+------------+------+------------------+---------+--------------------+-----------+----------------+--------------------+---------------+-------------+--------------+------------+
|ID_PARTICIPANTE|NU_INSCRICAO|NU_ANO|   TP_FAIXA_ETARIA|  TP_SEXO|     TP_ESTADO_CIVIL|TP_COR_RACA|TP_NACIONALIDADE|     TP_ST_CONCLUSAO|TP_ANO_CONCLUIU|    TP_ESCOLA|     TP_ENSINO|IN_TREINEIRO|
+---------------+------------+------+------------------+---------+--------------------+-----------+----------------+--------------------+---------------+-------------+--------------+------------+
|        4583466|190005588305|  2019|Entre 26 a 30 anos| Feminino|         Solteiro(a)|     Branca|   Brasileiro(a)|Já concluí o Ensi...|           2009|Não Respondeu|Ensino Regular|         Sim|
|        4583467|190005588306|  2019|           24 anos| Feminino|         Solteiro(a)|      Preta|   Brasileiro(a)|Já concluí o Ensi...|           2014|Não Respondeu|Ensino Regular|         Sim|
|        4583468|190005588307|  2019|           22 anos| Feminino|         Solteiro(a)|      Parda|   Brasileiro(a)|Já concluí o Ensi...|           2015|Não Respondeu|  Desconhecido|         Sim|
|        4583469|190005588308|  2019|Entre 41 a 45 anos| Feminino|Casado(a) Mora co...|     Branca|   Brasileiro(a)|Já concluí o Ensi...|           2007|Não Respondeu|  Desconhecido|         Sim|
|        4583470|190005588309|  2019|  Menor de 17 anos| Feminino|         Solteiro(a)|     Branca|   Brasileiro(a)|Estou cursando e ...|  Não informado|Não Respondeu|  Desconhecido|         Não|
|        4583471|190005588310|  2019|  Menor de 17 anos| Feminino|         Solteiro(a)|      Parda|   Brasileiro(a)|Estou cursando e ...|  Não informado|Não Respondeu|  Desconhecido|         Não|
|        4583472|190005588311|  2019|Entre 41 a 45 anos| Feminino|         Solteiro(a)|     Branca|   Brasileiro(a)|Já concluí o Ensi...|           2007|Não Respondeu|  Desconhecido|         Sim|
|        4583473|190005588312|  2019|           20 anos|Masculino|         Solteiro(a)|      Preta|   Brasileiro(a)|Já concluí o Ensi...|           2016|Não Respondeu|Ensino Regular|         Sim|
|        4583474|190005588313|  2019|Entre 26 a 30 anos| Feminino|         Solteiro(a)|      Preta|   Brasileiro(a)|Já concluí o Ensi...|           2011|Não Respondeu|Ensino Regular|         Sim|
|        4583475|190005588314|  2019|Entre 46 a 50 anos|Masculino|       Não informado|      Parda|   Brasileiro(a)|Já concluí o Ensi...|           2008|Não Respondeu|  Desconhecido|         Sim|
|        4583476|190005588315|  2019|           23 anos| Feminino|         Solteiro(a)|     Branca|   Brasileiro(a)|Já concluí o Ensi...|           2014|Não Respondeu|  Desconhecido|         Sim|
|        4583477|190005588316|  2019|           25 anos| Feminino|         Solteiro(a)|      Preta|   Brasileiro(a)|Já concluí o Ensi...|           2012|Não Respondeu|Ensino Regular|         Sim|
|        4583478|190005588317|  2019|Entre 41 a 45 anos| Feminino|         Solteiro(a)|      Parda|   Brasileiro(a)|Já concluí o Ensi...|           2007|Não Respondeu|Ensino Regular|         Sim|
|        4583479|190005588318|  2019|           19 anos| Feminino|         Solteiro(a)|      Preta|   Brasileiro(a)|Já concluí o Ensi...|           2018|Não Respondeu|  Desconhecido|         Sim|
|        4583480|190005588319|  2019|           21 anos| Feminino|       Não informado|      Parda|   Brasileiro(a)|Já concluí o Ensi...|  Não informado|Não Respondeu|  Desconhecido|         Sim|
|        4583481|190005588320|  2019|           21 anos|Masculino|         Solteiro(a)|      Parda|   Brasileiro(a)|Já concluí o Ensi...|           2016|Não Respondeu|Ensino Regular|         Sim|
|        4583482|190005588321|  2019|Entre 36 a 40 anos| Feminino|         Solteiro(a)|      Parda|   Brasileiro(a)|Já concluí o Ensi...|           2007|Não Respondeu|Ensino Regular|         Sim|
|        4583483|190005588322|  2019|           18 anos| Feminino|         Solteiro(a)|      Preta|   Brasileiro(a)|Já concluí o Ensi...|           2019|Não Respondeu|Ensino Regular|         Sim|
|        4583484|190005588323|  2019|           18 anos|Masculino|         Solteiro(a)|      Parda|   Brasileiro(a)|Estou cursando e ...|  Não informado|      Pública|  Desconhecido|         Sim|
|        4583485|190005588324|  2019|           21 anos|Masculino|         Solteiro(a)|      Parda|   Brasileiro(a)|Já concluí o Ensi...|  Não informado|Não Respondeu|  Desconhecido|         Sim|
+---------------+------------+------+------------------+---------+--------------------+-----------+----------------+--------------------+---------------+-------------+--------------+------------+
only showing top 20 rows

**CRIAÇÃO DA TABELA DE DIM.PROVA_OBJETIVA NA CAMADA GOLD**

In [37]:
spark.sql("""
    CREATE TABLE nessie.gold.dim_prova_objetiva
    USING iceberg
    LOCATION 's3a://gold/dim_prova_objetiva/'
    AS SELECT 
        ID AS ID_PROVA_OBJETIVA,
        TP_PRESENCA_CN,
        TP_PRESENCA_CH,
        TP_PRESENCA_LC,
        TP_PRESENCA_MT,
        CO_PROVA_CN,
        CO_PROVA_CH,
        CO_PROVA_LC,
        CO_PROVA_MT,
        NU_NOTA_CN,
        NU_NOTA_CH,
        NU_NOTA_LC,
        NU_NOTA_MT,
        TX_RESPOSTAS_CN,
        TX_RESPOSTAS_CH,
        TX_RESPOSTAS_LC,
        TX_RESPOSTAS_MT,
        TP_LINGUA,
        TX_GABARITO_CN,
        TX_GABARITO_CH,
        TX_GABARITO_LC,
        TX_GABARITO_MT
      FROM tabela_enem_silver LIMIT 0;
    """)

spark.sql("""
    INSERT INTO nessie.gold.dim_prova_objetiva
    SELECT 
      ID AS ID_PROVA_OBJETIVA,
      CASE
          WHEN TP_PRESENCA_CN = '0' THEN 'Faltou à prova'
          WHEN TP_PRESENCA_CN = '1' THEN 'Presente na prova'
          WHEN TP_PRESENCA_CN = '2' THEN 'Eliminado na prova'
          ELSE TP_PRESENCA_CN
      END AS TP_PRESENCA_CN,
      CASE
          WHEN TP_PRESENCA_CH = '0' THEN 'Faltou à prova'
          WHEN TP_PRESENCA_CH = '1' THEN 'Presente na prova'
          WHEN TP_PRESENCA_CH = '2' THEN 'Eliminado na prova'
          ELSE TP_PRESENCA_CH
      END AS TP_PRESENCA_CH,
      CASE
          WHEN TP_PRESENCA_LC = '0' THEN 'Faltou à prova'
          WHEN TP_PRESENCA_LC = '1' THEN 'Presente na prova'
          WHEN TP_PRESENCA_LC = '2' THEN 'Eliminado na prova'
          ELSE TP_PRESENCA_LC
      END AS TP_PRESENCA_LC,
      CASE
          WHEN TP_PRESENCA_MT = '0' THEN 'Faltou à prova'
          WHEN TP_PRESENCA_MT = '1' THEN 'Presente na prova'
          WHEN TP_PRESENCA_MT = '2' THEN 'Eliminado na prova'
          ELSE TP_PRESENCA_MT
      END AS TP_PRESENCA_MT,
      CASE
          WHEN CO_PROVA_CN = '597' THEN 'Azul'
          WHEN CO_PROVA_CN = '598' THEN 'Amarela'
          WHEN CO_PROVA_CN = '599' THEN 'Cinza'
          WHEN CO_PROVA_CN = '600' THEN 'Rosa'
          WHEN CO_PROVA_CN = '601' THEN 'Rosa - Ampliada'
          WHEN CO_PROVA_CN = '602' THEN 'Rosa - Superampliada'
          WHEN CO_PROVA_CN = '604' THEN 'Laranja - Adaptada Ledor'
          WHEN CO_PROVA_CN = '605' THEN 'Verde - Videoprova - Libras'
          WHEN CO_PROVA_CN = '677' THEN 'Azul (Reaplicação)'
          WHEN CO_PROVA_CN = '678' THEN 'Amarela (Reaplicação)'
          WHEN CO_PROVA_CN = '679' THEN 'Cinza (Reaplicação)'
          WHEN CO_PROVA_CN = '680' THEN 'Rosa (Reaplicação)'
          WHEN CO_PROVA_CN = '684' THEN 'Laranja - Adaptada Ledor (Reaplicação)'
          WHEN CO_PROVA_CN = '699' THEN 'Azul (Digital)'
          WHEN CO_PROVA_CN = '700' THEN 'Amarela (Digital)'
          WHEN CO_PROVA_CN = '701' THEN 'Rosa (Digital)'
          WHEN CO_PROVA_CN = '702' THEN 'Cinza (Digital)'
          ELSE 'Não encontrado'
      END AS CO_PROVA_CN,
      CASE
          WHEN CO_PROVA_CH = '567' THEN 'Azul'
          WHEN CO_PROVA_CH = '568' THEN 'Amarela'
          WHEN CO_PROVA_CH = '569' THEN 'Cinza'
          WHEN CO_PROVA_CH = '570' THEN 'Rosa'
          WHEN CO_PROVA_CH = '571' THEN 'Rosa - Ampliada'
          WHEN CO_PROVA_CH = '572' THEN 'Rosa - Superampliada'
          WHEN CO_PROVA_CH = '574' THEN 'Laranja - Adaptada Ledor'
          WHEN CO_PROVA_CH = '575' THEN 'Verde - Videoprova - Libras'
          WHEN CO_PROVA_CH = '647' THEN 'Azul (Reaplicação)'
          WHEN CO_PROVA_CH = '648' THEN 'Amarela (Reaplicação)'
          WHEN CO_PROVA_CH = '649' THEN 'Cinza (Reaplicação)'
          WHEN CO_PROVA_CH = '650' THEN 'Rosa (Reaplicação)'
          WHEN CO_PROVA_CH = '654' THEN 'Laranja - Adaptada Ledor (Reaplicação)'
          WHEN CO_PROVA_CH = '687' THEN 'Azul (Digital)'
          WHEN CO_PROVA_CH = '688' THEN 'Amarela (Digital)'
          WHEN CO_PROVA_CH = '689' THEN 'Rosa (Digital)'
          WHEN CO_PROVA_CH = '690' THEN 'Cinza (Digital)'
          ELSE 'Não encontrado'
      END AS CO_PROVA_CH,
      CASE
          WHEN CO_PROVA_LC = '577' THEN 'Azul'
          WHEN CO_PROVA_LC = '578' THEN 'Amarela'
          WHEN CO_PROVA_LC = '579' THEN 'Rosa'
          WHEN CO_PROVA_LC = '580' THEN 'Branca'
          WHEN CO_PROVA_LC = '581' THEN 'Rosa - Ampliada'
          WHEN CO_PROVA_LC = '582' THEN 'Rosa - Superampliada'
          WHEN CO_PROVA_LC = '584' THEN 'Laranja - Adaptada Ledor'
          WHEN CO_PROVA_LC = '585' THEN 'Verde - Videoprova - Libras'
          WHEN CO_PROVA_LC = '657' THEN 'Azul (Reaplicação)'
          WHEN CO_PROVA_LC = '658' THEN 'Amarela (Reaplicação)'
          WHEN CO_PROVA_LC = '659' THEN 'Rosa (Reaplicação)'
          WHEN CO_PROVA_LC = '660' THEN 'Branca (Reaplicação)'
          WHEN CO_PROVA_LC = '664' THEN 'Laranja - Adaptada Ledor (Reaplicação)'
          WHEN CO_PROVA_LC = '691' THEN 'Azul (Digital)'
          WHEN CO_PROVA_LC = '692' THEN 'Amarela (Digital)'
          WHEN CO_PROVA_LC = '693' THEN 'Branca (Digital)'
          WHEN CO_PROVA_LC = '694' THEN 'Rosa (Digital)'
          ELSE 'Não encontrado'
      END AS CO_PROVA_LC,
      CASE
          WHEN CO_PROVA_MT = '587' THEN 'Azul'
          WHEN CO_PROVA_MT = '588' THEN 'Amarela'
          WHEN CO_PROVA_MT = '589' THEN 'Rosa'
          WHEN CO_PROVA_MT = '590' THEN 'Cinza'
          WHEN CO_PROVA_MT = '591' THEN 'Rosa - Ampliada'
          WHEN CO_PROVA_MT = '592' THEN 'Rosa - Superampliada'
          WHEN CO_PROVA_MT = '594' THEN 'Laranja - Adaptada Ledor'
          WHEN CO_PROVA_MT = '595' THEN 'Verde - Videoprova - Libras'
          WHEN CO_PROVA_MT = '667' THEN 'Azul (Reaplicação)'
          WHEN CO_PROVA_MT = '668' THEN 'Amarela (Reaplicação)'
          WHEN CO_PROVA_MT = '669' THEN 'Rosa (Reaplicação)'
          WHEN CO_PROVA_MT = '670' THEN 'Cinza (Reaplicação)'
          WHEN CO_PROVA_MT = '674' THEN 'Laranja - Adaptada Ledor (Reaplicação)'
          WHEN CO_PROVA_MT = '695' THEN 'Azul (Digital)'
          WHEN CO_PROVA_MT = '696' THEN 'Amarela (Digital)'
          WHEN CO_PROVA_MT = '697' THEN 'Rosa (Digital)'
          WHEN CO_PROVA_MT = '698' THEN 'Cinza (Digital)'
          ELSE 'Não encontrado'
      END AS CO_PROVA_MT,
      NU_NOTA_CN,
      NU_NOTA_CH,
      NU_NOTA_LC,
      NU_NOTA_MT,
      TX_RESPOSTAS_CN,
      TX_RESPOSTAS_CH,
      TX_RESPOSTAS_LC,
      TX_RESPOSTAS_MT,
      CASE
          WHEN TP_LINGUA = '0' THEN 'Inglês'
          WHEN TP_LINGUA = '1' THEN 'Espanhol'
          ELSE 'Não encontrado'
      END AS TP_LINGUA,
      TX_GABARITO_CN,
      TX_GABARITO_CH,
      TX_GABARITO_LC,
      TX_GABARITO_MT
    FROM tabela_enem_silver;
    """)

DataFrame[]

In [38]:
spark.sql("""SELECT * FROM nessie.gold.dim_prova_objetiva""").show()

+-----------------+-----------------+-----------------+-----------------+-----------------+--------------+--------------+--------------+--------------+----------+----------+----------+----------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------------+
|ID_PROVA_OBJETIVA|   TP_PRESENCA_CN|   TP_PRESENCA_CH|   TP_PRESENCA_LC|   TP_PRESENCA_MT|   CO_PROVA_CN|   CO_PROVA_CH|   CO_PROVA_LC|   CO_PROVA_MT|NU_NOTA_CN|NU_NOTA_CH|NU_NOTA_LC|NU_NOTA_MT|     TX_RESPOSTAS_CN|     TX_RESPOSTAS_CH|     TX_RESPOSTAS_LC|     TX_RESPOSTAS_MT|TP_LINGUA|      TX_GABARITO_CN|      TX_GABARITO_CH|      TX_GABARITO_LC|      TX_GABARITO_MT|
+-----------------+-----------------+-----------------+-----------------+-----------------+--------------+--------------+--------------+--------------+----------+----------+----------+----------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------------+
|                1|Presente na prova|Presente na prova|Presente na prova|Presente na prova|Não encontrado|Não encontrado|Não encontrado|Não encontrado|     472.9|     466.0|     497.3|     369.1|DECCEBAECBDADCDBB...|CCBCAEDAAECEDABED...|DBBCB99999BDCCDBB...|ADBBDEDCABCEDCACB...|   Inglês|BEEAAEBEEBADEADDA...|ACACEEBCCBABADBBB...|EBBADCABDABACBCEB...|BEDEEEAADBEBACABC...|
|                2|Presente na prova|Presente na prova|Presente na prova|Presente na prova|Não encontrado|Não encontrado|Não encontrado|Não encontrado|     358.9|     495.4|     482.3|     416.5|DAEDEBDCDEBAAACDA...|CEACBBDEEABDDACAD...|99999ADBEAEBDACDA...|DACCCBDCCCBACCCCE...| Espanhol|DEADBAAAEBEECEBCB...|EEBCEEDBADBBCBABC...|ADBBEDCABAABBCBCD...|AADDDBEEEBEDDBEBA...|
|                3|Presente na prova|Presente na prova|Presente na prova|Presente na prova|Não encontrado|Não encontrado|Não encontrado|Não encontrado|     574.2|     538.7|     582.6|     571.5|AABDAECAECECCBCBD...|ABACCEABCDADABACB...|ADBBC99999EDBCBBA...|DECCABCBCDBBBEAEC...|   Inglês|DADCCEBBCCACBEEBE...|EEBCEEDBADBBCBABC...|ADBBEDCABAABBCBCD...|DBEBACABCDBABECEE...|
|                4|   Faltou à prova|   Faltou à prova|   Faltou à prova|   Faltou à prova|Não encontrado|Não encontrado|Não encontrado|Não encontrado|       0.0|       0.0|       0.0|       0.0|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido| Espanhol|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|
|                5|   Faltou à prova|   Faltou à prova|   Faltou à prova|   Faltou à prova|Não encontrado|Não encontrado|Não encontrado|Não encontrado|       0.0|       0.0|       0.0|       0.0|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido| Espanhol|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|
|                6|Presente na prova|Presente na prova|Presente na prova|Presente na prova|Não encontrado|Não encontrado|Não encontrado|Não encontrado|     522.0|     592.6|     582.0|     605.3|EEDAACCEEABAEADAC...|ABAAADBACCEEACABC...|99999BDAAACBBBEEB...|AAECDAEBBDCAAEDBA...| Espanhol|DEADBAAAEBEECEBCB...|CBABADBBCEEEBCBAD...|BBEDABDACACBABAEC...|AADDDBEEEBEDDBEBA...|
|                7|Presente na prova|Presente na prova|Presente na prova|Presente na prova|Não encontrado|Não encontrado|Não encontrado|Não encontrado|     407.4|     480.1|     464.3|     581.5|CADACDBEBBCEACCEA...|AEADABBDEABAAAACC...|99999DDEEBCCBDADE...|DCAEDAAADEBEACDBA...| Espanhol|BEEAAEBEEBADEADDA...|EEBCEEDBADBBCBABC...|ADBBEDCABAABBCBCD...|BEDEEEAADBEBACABC...|
|                8|Presente na prova|Presente na prova|Presente na prova|Presente na prova|Não encontrado|Não encontrado|Não encontrado|Não encontrado|     369.7|     398.2|     395.6|     473.8|CBACBAEABDBDDEEDA...|CABAEBAEBBCEECADA...|BCCAD99999CCDEBDB...|DAADEADABDECBDEAD...|   Inglês|BEEAAEBEEBADEADDA...|CBABADBBCEEEBCBAD...|BBEDABDACACBABAEC...|BEDEEEAADBEBACABC...|
|                9|Presente na prova|Presente na prova|Presente na prova|Presente na prova|Não encontrado|Não encontrado|Não encontrado|Não encontrado|     370.7|     386.4|     354.2|     375.5|DDDACECEECBADDCBC...|EEDCAEEBCC*DEACCC...|99999ADBEBADECDBA...|CECC.BCEBBABCDCAC...| Espanhol|DEADBAAAEBEECEBCB...|ACACEEBCCBABADBBB...|EBBADCABDABACBCEB...|AADDDBEEEBEDDBEBA...|
|               10|Presente na prova|Presente na prova|Presente na prova|Presente na prova|Não encontrado|Não encontrado|Não encontrado|Não encontrado|     443.5|     432.4|     515.3|     397.0|CBDAEECEBECBDADCB...|CEADCABBBEABAACBE...|99999CCEBDCEECBAE...|EAEEDCBEECACADEAB...| Espanhol|BEEAAEBEEBADEADDA...|EEBCEEDBADBBCBABC...|ADBBEDCABAABBCBCD...|BEDEEEAADBEBACABC...|
|               11|Presente na prova|Presente na prova|Presente na prova|Presente na prova|Não encontrado|Não encontrado|Não encontrado|Não encontrado|     477.6|     596.9|     549.7|     583.2|ABBEADCEDCEBCBBAE...|ABABADBECCAEBC*AD...|BDDEA99999CCADCED...|ECABAECBBDEABECAC...|   Inglês|DADCCEBBCCACBEEBE...|CBABADBBCEEEBCBAD...|BBEDABDACACBABAEC...|DBEBACABCDBABECEE...|
|               12|   Faltou à prova|   Faltou à prova|   Faltou à prova|   Faltou à prova|Não encontrado|Não encontrado|Não encontrado|Não encontrado|       0.0|       0.0|       0.0|       0.0|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|   Inglês|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|
|               13|   Faltou à prova|   Faltou à prova|   Faltou à prova|   Faltou à prova|Não encontrado|Não encontrado|Não encontrado|Não encontrado|       0.0|       0.0|       0.0|       0.0|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido| Espanhol|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|
|               14|   Faltou à prova|   Faltou à prova|   Faltou à prova|   Faltou à prova|Não encontrado|Não encontrado|Não encontrado|Não encontrado|       0.0|       0.0|       0.0|       0.0|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|   Inglês|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|
|               15|   Faltou à prova|   Faltou à prova|   Faltou à prova|   Faltou à prova|Não encontrado|Não encontrado|Não encontrado|Não encontrado|       0.0|       0.0|       0.0|       0.0|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido| Espanhol|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|
|               16|Presente na prova|Presente na prova|Presente na prova|Presente na prova|Não encontrado|Não encontrado|Não encontrado|Não encontrado|     376.4|     354.7|     525.8|     389.4|EBBAEEDECADBDCBCA...|ADEDDAABABAECACCB...|99999ADDBCDBBBEDD...|DAABCBDEECBCADCBE...| Espanhol|BEEAAEBEEBADEADDA...|BACCCBABBADCBCEEE...|BDABEABCADBCBAADD...|BEDEEEAADBEBACABC...|
|               17|Presente na prova|Presente na prova|Presente na prova|Presente na prova|Não encontrado|Não encontrado|Não encontrado|Não encontrado|     423.0|     372.8|     488.7|     516.5|AADCEBCBECACBDDBC...|ABDBAACACBDEDEDAB...|BBCDA99999EDBCDBD...|DDBCBEADB*EDDBBCA...|   Inglês|DEADBAAAEBEECEBCB...|BACCCBABBADCBCEEE...|BDABEABCADBCBAADD...|AADDDBEEEBEDDBEBA...|
|               18|Presente na prova|Presente na prova|Presente na prova|Presente na prova|Não encontrado|Não encontrado|Não encontrado|Não encontrado|     373.3|     405.2|     441.4|     496.5|ECCCECDD*BACBDADA...|CCBBECBCCABBBECCD...|99999BEEBCDEABCBC...|CDADCBEEDCAADAECB...| Espanhol|DEADBAAAEBEECEBCB...|BACCCBABBADCBCEEE...|BDABEABCADBCBAADD...|AADDDBEEEBEDDBEBA...|
|               19|Presente na prova|Presente na prova|Presente na prova|Presente na prova|Não encontrado|Não encontrado|Não encontrado|Não encontrado|     451.8|     521.0|     538.4|     560.8|CEEDDCBDCDBAABEBD...|CCEBCAECBBAEABAAA...|99999DABBBBBCCCBE...|ECEBEBCCAEACBDEDE...| Espanhol|AAECACDEADCBCDDDB...|ACACEEBCCBABADBBB...|EBBADCABDABACBCEB...|EEEADBEBACABCDBAB...|
|               20|Presente na prova|Presente na prova|Presente na prova|Presente na prova|Não encontrado|Não encontrado|Não encontrado|Não encontrado|     463.6|     417.3|     431.0|     397.9|DEEDEEEDCCBEDCACE...|DAAAABAACACBBDACD...|99999BDEEBEEDBBBD...|ECBBAEBCAEDCAAEDD...| Espanhol|AAECACDEADCBCDDDB...|CBABADBBCEEEBCBAD...|BBEDABDACACBABAEC...|EEEADBEBACABCDBAB...|
+-----------------+-----------------+-----------------+-----------------+-----------------+--------------+--------------+--------------+--------------+----------+----------+----------+----------+--------------------+--------------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

**CRIAÇÃO DA TABELA DE DIM.Q_SE NA CAMADA GOLD**

In [40]:
spark.sql("""
    CREATE TABLE nessie.gold.dim_q_se
    USING iceberg
    LOCATION 's3a://gold/dim_q_se/'
    AS SELECT 
      ID AS ID_Q_SE,
      Q001,
      Q002,
      Q003,
      Q004,
      Q005,
      Q006,
      Q007,
      Q008,
      Q009,
      Q010,
      Q011,
      Q012,
      Q013,
      Q014,
      Q015,
      Q016,
      Q017,
      Q018,
      Q019,
      Q020,
      Q021,
      Q022,
      Q023,
      Q024,
      Q025
      FROM tabela_enem_silver LIMIT 0;
    """)

spark.sql("""
    INSERT INTO nessie.gold.dim_q_se
    SELECT 
      ID AS ID_Q_SE,
      Q001,
      Q002,
      Q003,
      Q004,
      Q005,
      Q006,
      Q007,
      Q008,
      Q009,
      Q010,
      Q011,
      Q012,
      Q013,
      Q014,
      Q015,
      Q016,
      Q017,
      Q018,
      Q019,
      Q020,
      Q021,
      Q022,
      Q023,
      Q024,
      Q025
    FROM tabela_enem_silver;
    """)

DataFrame[]

In [42]:
spark.sql("""SELECT * FROM nessie.gold.dim_q_se""").show()

+-------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+
|ID_Q_SE|        Q001|        Q002|        Q003|        Q004|        Q005|        Q006|        Q007|        Q008|        Q009|        Q010|        Q011|        Q012|        Q013|        Q014|        Q015|        Q016|        Q017|        Q018|        Q019|        Q020|        Q021|        Q022|        Q023|        Q024|        Q025|
+-------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+
|8628212|           E|           C|           C|           B|           4|           B|           A|           C|           C|           A|           A|           B|           A|           A|           A|           B|           A|           A|           B|           A|           A|           D|           A|           A|           A|
|8628213|           B|           D|           A|           B|           4|           E|           A|           B|           C|           A|           B|           B|           A|           A|           A|           B|           A|           A|           B|           A|           A|           C|           A|           B|           B|
|8628214|           E|           E|           C|           C|           5|           D|           A|           C|           E|           B|           B|           B|           A|           B|           A|           B|           A|           A|           C|           A|           A|           E|           A|           B|           B|
|8628215|           F|           E|           D|           B|           4|           D|           A|           C|           D|           B|           B|           B|           B|           B|           A|           A|           A|           A|           C|           A|           A|           D|           B|           C|           B|
|8628216|           H|           E|           C|           B|           4|           B|           A|           B|           C|           A|           A|           B|           A|           A|           A|           A|           A|           A|           B|           A|           A|           C|           A|           A|           A|
|8628217|           E|           E|           B|           B|           1|           B|           A|           C|           D|           A|           A|           B|           A|           A|           A|           A|           A|           A|           B|           A|           A|           B|           A|           A|           B|
|8628218|           E|           E|           B|           B|           4|           B|           A|           B|           C|           A|           A|           B|           A|           B|           B|           A|           A|           A|           B|           A|           A|           B|           A|           A|           B|
|8628219|           B|           C|           A|           A|           2|           B|           A|           B|           C|           A|           A|           B|           A|           A|           A|           B|           A|           A|           B|           A|           A|           C|           A|           B|           B|
|8628220|           D|           B|           C|           B|           4|           B|           A|           C|           D|           B|           A|           B|           A|           A|           A|           A|           A|           A|           B|           A|           A|           C|           A|           B|           B|
|8628221|           E|           E|           F|           F|           1|           F|           A|           C|           C|           B|           A|           B|           A|           B|           A|           B|           A|           A|           B|           A|           A|           C|           B|           A|           B|
|8628222|           C|           D|           D|           D|           3|           G|           A|           B|           C|           B|           B|           B|           B|           B|           A|           B|           A|           A|           C|           A|           A|           D|           A|           B|           B|
|8628223|           G|           F|           C|           D|           4|           N|           A|           B|           C|           B|           A|           B|           B|           B|           B|           A|           B|           B|           C|           A|           B|           E|           B|           E|           B|
|8628224|Desconhecido|Desconhecido|Desconhecido|Desconhecido|Desconhecido|Desconhecido|Desconhecido|Desconhecido|Desconhecido|Desconhecido|Desconhecido|Desconhecido|Desconhecido|Desconhecido|Desconhecido|Desconhecido|Desconhecido|Desconhecido|Desconhecido|Desconhecido|Desconhecido|Desconhecido|Desconhecido|Desconhecido|Desconhecido|
|8628225|           C|           C|           B|           A|           2|           B|           A|           B|           C|           A|           A|           B|           A|           A|           A|           A|           A|           A|           B|           A|           A|           C|           A|           A|           B|
|8628226|           G|           F|           D|           E|           4|           C|           A|           C|           D|           B|           A|           B|           B|           B|           A|           B|           A|           A|           C|           A|           A|           C|           A|           B|           B|
|8628227|           D|           C|           B|           B|           5|           C|           A|           B|           C|           B|           A|           B|           A|           A|           A|           A|           A|           A|           B|           A|           B|           C|           A|           A|           B|
|8628228|           E|           A|           F|           F|           3|           F|           A|           B|           C|           B|           A|           B|           A|           A|           A|           B|           A|           A|           B|           A|           A|           C|           A|           B|           B|
|8628229|           F|           E|           D|           B|           5|           H|           A|           D|           D|           C|           C|           B|           B|           B|           A|           A|           A|           A|           B|           B|           A|           E|           B|           C|           B|
|8628230|           B|           F|           D|           D|           3|           E|           A|           B|           C|           B|           A|           B|           B|           A|           A|           B|           A|           A|           B|           A|           A|           C|           A|           B|           A|
|8628231|           E|           B|           A|           A|           4|           B|           A|           B|           C|           A|           A|           B|           A|           A|           A|           B|           A|           A|           B|           A|           A|           C|           A|           A|           B|
+-------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+------------+
only showing top 20 rows

**CRIAÇÃO DA TABELA DE DIM.REDACAO NA CAMADA GOLD**

In [44]:
spark.sql("""
    CREATE TABLE nessie.gold.dim_redacao
    USING iceberg
    LOCATION 's3a://gold/dim_redacao/'
    AS SELECT 
        ID AS ID_REDACAO,
        TP_STATUS_REDACAO,
        NU_NOTA_COMP1,
        NU_NOTA_COMP2,
        NU_NOTA_COMP3,
        NU_NOTA_COMP4,
        NU_NOTA_COMP5,
        NU_NOTA_REDACAO
      FROM tabela_enem_silver LIMIT 0;
    """)

spark.sql("""
    INSERT INTO nessie.gold.dim_redacao
    SELECT 
      ID AS ID_REDACAO,
      CASE
          WHEN TP_STATUS_REDACAO = '1' THEN 'Sem problemas'
          WHEN TP_STATUS_REDACAO = '2' THEN 'Anulada'
          WHEN TP_STATUS_REDACAO = '3' THEN 'Cópia Texto Motivador'
          WHEN TP_STATUS_REDACAO = '4' THEN 'Em Branco'
          WHEN TP_STATUS_REDACAO = '6' THEN 'Fuga ao tema'
          WHEN TP_STATUS_REDACAO = '7' THEN 'Não atendimento ao tipo textual'
          WHEN TP_STATUS_REDACAO = '8' THEN 'Texto insuficiente'
          WHEN TP_STATUS_REDACAO = '9' THEN 'Parte desconectada'
          ELSE TP_STATUS_REDACAO
      END AS TP_STATUS_REDACAO,
      NU_NOTA_COMP1,
      NU_NOTA_COMP2,
      NU_NOTA_COMP3,
      NU_NOTA_COMP4,
      NU_NOTA_COMP5,
      NU_NOTA_REDACAO
    FROM tabela_enem_silver;
    """)

DataFrame[]

In [46]:
spark.sql("""SELECT * FROM nessie.gold.dim_redacao""").show()

+----------+-----------------+-------------+-------------+-------------+-------------+-------------+---------------+
|ID_REDACAO|TP_STATUS_REDACAO|NU_NOTA_COMP1|NU_NOTA_COMP2|NU_NOTA_COMP3|NU_NOTA_COMP4|NU_NOTA_COMP5|NU_NOTA_REDACAO|
+----------+-----------------+-------------+-------------+-------------+-------------+-------------+---------------+
|   4583466|    Sem problemas|        140.0|         80.0|        120.0|        120.0|         60.0|          520.0|
|   4583467|    Sem problemas|        120.0|        120.0|        120.0|        100.0|        180.0|          640.0|
|   4583468|     Desconhecido|          0.0|          0.0|          0.0|          0.0|          0.0|            0.0|
|   4583469|     Desconhecido|          0.0|          0.0|          0.0|          0.0|          0.0|            0.0|
|   4583470|    Sem problemas|        100.0|        140.0|        120.0|        140.0|        100.0|          600.0|
|   4583471|    Sem problemas|        140.0|        120.0|        120.0|        100.0|          0.0|          480.0|
|   4583472|    Sem problemas|        120.0|        100.0|         80.0|         80.0|         80.0|          460.0|
|   4583473|    Sem problemas|        120.0|        120.0|        120.0|        120.0|        120.0|          600.0|
|   4583474|    Sem problemas|        120.0|         80.0|        120.0|        120.0|        140.0|          580.0|
|   4583475|     Desconhecido|          0.0|          0.0|          0.0|          0.0|          0.0|            0.0|
|   4583476|     Desconhecido|          0.0|          0.0|          0.0|          0.0|          0.0|            0.0|
|   4583477|    Sem problemas|        160.0|        120.0|        160.0|        160.0|        140.0|          740.0|
|   4583478|     Desconhecido|          0.0|          0.0|          0.0|          0.0|          0.0|            0.0|
|   4583479|    Sem problemas|        120.0|        100.0|        120.0|        120.0|        100.0|          560.0|
|   4583480|    Sem problemas|        120.0|        100.0|        120.0|        100.0|          0.0|          440.0|
|   4583481|    Sem problemas|        120.0|        180.0|        160.0|        120.0|        120.0|          700.0|
|   4583482|     Desconhecido|          0.0|          0.0|          0.0|          0.0|          0.0|            0.0|
|   4583483|    Sem problemas|        100.0|        120.0|        120.0|        120.0|         60.0|          520.0|
|   4583484|    Sem problemas|        120.0|        160.0|        120.0|        140.0|        100.0|          640.0|
|   4583485|     Desconhecido|          0.0|          0.0|          0.0|          0.0|          0.0|            0.0|
+----------+-----------------+-------------+-------------+-------------+-------------+-------------+---------------+
only showing top 20 rows

**CRIAÇÃO DA TABELA DE DIM.FATO_RESULTADOS_ENEM NA CAMADA GOLD**

In [60]:
# Criando a tabela usando Iceberg
spark.sql("""
    CREATE TABLE nessie.gold.fato_resultados_enem
    USING iceberg
    LOCATION 's3a://gold/fato_resultados_enem/'
    AS SELECT 
        ID AS ID_PARTICIPANTE,
        ID AS ID_ESCOLA,
        ID AS ID_APLICACAO_PROVA,
        ID AS ID_PROVA_OBJETIVA,
        ID AS ID_Q_SE,
        ID AS ID_REDACAO,
        NU_NOTA_CN,
        NU_NOTA_CH,
        NU_NOTA_LC,
        NU_NOTA_MT,
        TX_RESPOSTAS_CN,
        TX_RESPOSTAS_CH,
        TX_RESPOSTAS_LC,
        TX_RESPOSTAS_MT,
        TX_GABARITO_CN,
        TX_GABARITO_CH,
        TX_GABARITO_LC,
        TX_GABARITO_MT,
        NU_NOTA_COMP1,
        NU_NOTA_COMP2,
        NU_NOTA_COMP3,
        NU_NOTA_COMP4,
        NU_NOTA_COMP5,
        NU_NOTA_REDACAO
    FROM tabela_enem_silver
    LIMIT 0;
""")

# Inserindo os dados na tabela
spark.sql("""
    INSERT INTO nessie.gold.fato_resultados_enem
    SELECT 
        -- Chaves estrangeiras (FK)
        p.ID_PARTICIPANTE,
        e.ID_ESCOLA,
        ap.ID_APLICACAO_PROVA,
        pr.ID_PROVA_OBJETIVA,
        q.ID_Q_SE,
        r.ID_REDACAO,

        -- Notas e resultados das provas
        pr.NU_NOTA_CN AS NOTA_CN,
        pr.NU_NOTA_CH AS NOTA_CH,
        pr.NU_NOTA_LC AS NOTA_LC,
        pr.NU_NOTA_MT AS NOTA_MT,

        -- Respostas de múltipla escolha
        pr.TX_RESPOSTAS_CN,
        pr.TX_RESPOSTAS_CH,
        pr.TX_RESPOSTAS_LC,
        pr.TX_RESPOSTAS_MT,

        -- Gabarito das provas
        pr.TX_GABARITO_CN,
        pr.TX_GABARITO_CH,
        pr.TX_GABARITO_LC,
        pr.TX_GABARITO_MT,

        -- Notas da redação
        r.NU_NOTA_COMP1,
        r.NU_NOTA_COMP2,
        r.NU_NOTA_COMP3,
        r.NU_NOTA_COMP4,
        r.NU_NOTA_COMP5,
        r.NU_NOTA_REDACAO

    FROM
        tabela_enem_silver en
    LEFT JOIN nessie.gold.dim_participante p
        ON en.ID = p.ID_PARTICIPANTE
    LEFT JOIN nessie.gold.dim_escola e
        ON en.ID = e.ID_ESCOLA
    LEFT JOIN nessie.gold.dim_aplicacao_prova ap
        ON en.ID = ap.ID_APLICACAO_PROVA
    LEFT JOIN nessie.gold.dim_prova_objetiva pr
        ON en.ID = pr.ID_PROVA_OBJETIVA
    LEFT JOIN nessie.gold.dim_q_se q
        ON en.ID = q.ID_Q_SE
    LEFT JOIN nessie.gold.dim_redacao r
        ON en.ID = r.ID_REDACAO;
""")

DataFrame[]

In [61]:
spark.sql("""SELECT * FROM nessie.gold.fato_resultados_enem""").show()

+---------------+---------+------------------+-----------------+-------+----------+----------+----------+----------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------+-------------+-------------+-------------+-------------+---------------+
|ID_PARTICIPANTE|ID_ESCOLA|ID_APLICACAO_PROVA|ID_PROVA_OBJETIVA|ID_Q_SE|ID_REDACAO|NU_NOTA_CN|NU_NOTA_CH|NU_NOTA_LC|NU_NOTA_MT|     TX_RESPOSTAS_CN|     TX_RESPOSTAS_CH|     TX_RESPOSTAS_LC|     TX_RESPOSTAS_MT|      TX_GABARITO_CN|      TX_GABARITO_CH|      TX_GABARITO_LC|      TX_GABARITO_MT|NU_NOTA_COMP1|NU_NOTA_COMP2|NU_NOTA_COMP3|NU_NOTA_COMP4|NU_NOTA_COMP5|NU_NOTA_REDACAO|
+---------------+---------+------------------+-----------------+-------+----------+----------+----------+----------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------+-------------+-------------+-------------+-------------+---------------+
|            300|      300|               300|              300|    300|       300|     404.6|     487.1|     443.4|     388.6|CEDDDEDAEDDEADBAA...|ACABCBBABCCEDDBBE...|99999BDCABABDEECE...|DCACBEDCABBDAAEED...|AAECACDEADCBCDDDB...|CBABADBBCEEEBCBAD...|BBEDABDACACBABAEC...|EEEADBEBACABCDBAB...|        120.0|        120.0|        120.0|         80.0|         80.0|          520.0|
|            406|      406|               406|              406|    406|       406|     354.5|     416.7|     424.8|     474.7|DDCEEBDEDBBCBAECE...|ABAAABAACAABABABC...|99999EABDBCBBBACE...|AECBDADECAAADAECB...|DEADBAAAEBEECEBCB...|CBABADBBCEEEBCBAD...|BBEDABDACACBABAEC...|AADDDBEEEBEDDBEBA...|        100.0|        120.0|        120.0|         80.0|          0.0|          420.0|
|            412|      412|               412|              412|    412|       412|     505.4|     517.5|     551.2|     523.7|DEDDBCCEDBECDAACA...|ACABEBCBABAABDBDB...|99999ACBDAEACBCDE...|CBBADDCEABDADDDDD...|DEADBAAAEBEECEBCB...|ACACEEBCCBABADBBB...|EBBADCABDABACBCEB...|AADDDBEEEBEDDBEBA...|        160.0|        200.0|        200.0|        200.0|        160.0|          920.0|
|            497|      497|               497|              497|    497|       497|     512.8|     547.8|     569.2|     546.3|CBACDEABEBDDDDDAC...|CCABAEACABABCDCAB...|EBBDD99999BACBCDB...|AAEEADECD.DBADCAA...|BEEAAEBEEBADEADDA...|ACACEEBCCBABADBBB...|EBBADCABDABACBCEB...|BEDEEEAADBEBACABC...|        120.0|        140.0|        120.0|        160.0|        120.0|          660.0|
|            587|      587|               587|              587|    587|       587|     406.7|     474.5|     526.5|     385.2|BEADEDADECCEEDBCC...|BCECCEAEAACAAAABE...|99999DCBEBADCDCBD...|EBCDBBDCEEBCABCBD...|BEEAAEBEEBADEADDA...|ACACEEBCCBABADBBB...|EBBADCABDABACBCEB...|BEDEEEAADBEBACABC...|        140.0|        120.0|        100.0|        120.0|        100.0|          580.0|
|            596|      596|               596|              596|    596|       596|     359.2|     434.5|     418.8|     530.3|DAECBDCAABAABBDEC...|BDAEABACBDBBBABAD...|99999EBCCABDCBABB...|DBADAAEDBBBABDCBB...|DEADBAAAEBEECEBCB...|ACACEEBCCBABADBBB...|EBBADCABDABACBCEB...|AADDDBEEEBEDDBEBA...|          0.0|          0.0|          0.0|          0.0|          0.0|            0.0|
|            731|      731|               731|              731|    731|       731|       0.0|       0.0|       0.0|       0.0|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|          0.0|          0.0|          0.0|          0.0|          0.0|            0.0|
|            762|      762|               762|              762|    762|       762|     440.5|     394.4|     508.8|     398.8|EADBBADDDBEEBDCDE...|EDADDBADCBEEDAADB...|DEABB99999DBBCCCE...|EECCBBCDAAEBEDBEB...|DADCCEBBCCACBEEBE...|BACCCBABBADCBCEEE...|BDABEABCADBCBAADD...|DBEBACABCDBABECEE...|        100.0|        120.0|        120.0|        160.0|         60.0|          560.0|
|            784|      784|               784|              784|    784|       784|       0.0|       0.0|       0.0|       0.0|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|          0.0|          0.0|          0.0|          0.0|          0.0|            0.0|
|            787|      787|               787|              787|    787|       787|     415.8|     497.7|     539.7|     438.2|DADBEADBEABDCCEBB...|CEECDECBCADDDBAAB...|99999DDAECBBBCBBC...|EBBACEDCCBCCBDEBE...|AAECACDEADCBCDDDB...|EEBCEEDBADBBCBABC...|ADBBEDCABAABBCBCD...|EEEADBEBACABCDBAB...|        120.0|        120.0|        100.0|        120.0|        100.0|          560.0|
|            842|      842|               842|              842|    842|       842|     644.6|     661.9|     626.7|     723.3|BEEAAECCEBBDEADBD...|EABCCBABCBACECEEE...|99999ABCADBCBAAEE...|AEBECBAADBEBABCAC...|BEEAAEBEEBADEADDA...|BACCCBABBADCBCEEE...|BDABEABCADBCBAADD...|BEDEEEAADBEBACABC...|        160.0|        160.0|        180.0|        180.0|        200.0|          880.0|
|            988|      988|               988|              988|    988|       988|     541.2|     464.0|     579.9|     526.9|AEEDDCEEADCACDBEB...|ACDCCBDDABEEEBAAD...|ACDDE99999ABDCBDD...|EBCEEDDDCDBEACECD...|AAECACDEADCBCDDDB...|EEBCEEDBADBBCBABC...|ADBBEDCABAABBCBCD...|EEEADBEBACABCDBAB...|        140.0|        140.0|        120.0|        140.0|        160.0|          700.0|
|           1030|     1030|              1030|             1030|   1030|      1030|       0.0|       0.0|       0.0|       0.0|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|          0.0|          0.0|          0.0|          0.0|          0.0|            0.0|
|           1034|     1034|              1034|             1034|   1034|      1034|       0.0|       0.0|       0.0|       0.0|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|        Desconhecido|          0.0|          0.0|          0.0|          0.0|          0.0|            0.0|
|           1051|     1051|              1051|             1051|   1051|      1051|     407.3|     553.5|     544.2|     544.3|BBCBBECDDCEBCACAC...|ACACAECCDBCAACBEE...|CBAAE99999EABDECE...|BCDECBCADDDCCDCDB...|BEEAAEBEEBADEADDA...|ACACEEBCCBABADBBB...|EBBADCABDABACBCEB...|BEDEEEAADBEBACABC...|        120.0|        120.0|        120.0|        120.0|        160.0|          640.0|
|           1064|     1064|              1064|             1064|   1064|      1064|     413.1|     486.0|     522.0|     503.9|DDCABBEEAEDCBDADA...|DCACCEDDADBEADEBA...|ABCDE99999BBDCEDE...|CBEBCBEBACAEABCCA...|DEADBAAAEBEECEBCB...|EEBCEEDBADBBCBABC...|ADBBEDCABAABBCBCD...|AADDDBEEEBEDDBEBA...|        120.0|        120.0|        120.0|        120.0|        140.0|          620.0|
|           1156|     1156|              1156|             1156|   1156|      1156|     493.3|     563.4|     514.8|     490.8|ADBDCBAEDACCCACDD...|BCACEEBCACEDADBDA...|99999ABDDABDCBCEA...|BDBCBEDACDABDEBCC...|DEADBAAAEBEECEBCB...|ACACEEBCCBABADBBB...|EBBADCABDABACBCEB...|AADDDBEEEBEDDBEBA...|        120.0|        160.0|        120.0|        180.0|        120.0|          700.0|
|           1163|     1163|              1163|             1163|   1163|      1163|     516.3|     535.6|     539.9|     497.8|DEDDAEDCEEEAABEDA...|EEBAABAEABADDCAAE...|99999CADEBBABADDA...|CBABCCDBADEAAEACA...|DEADBAAAEBEECEBCB...|BACCCBABBADCBCEEE...|BDABEABCADBCBAADD...|AADDDBEEEBEDDBEBA...|        100.0|        120.0|        120.0|        100.0|          0.0|          440.0|
|           1243|     1243|              1243|             1243|   1243|      1243|     485.7|     549.7|     503.1|     553.6|AEABEDCEECAADECCB...|CCBEACBCAEDBADEBE...|99999ECEDBACAEBCC...|EC*ABCECBCACECDBA...|DEADBAAAEBEECEBCB...|ACACEEBCCBABADBBB...|EBBADCABDABACBCEB...|AADDDBEEEBEDDBEBA...|        120.0|        120.0|        120.0|        120.0|          0.0|          480.0|
|           1274|     1274|              1274|             1274|   1274|      1274|     559.2|     607.9|     571.3|     489.2|EEEDBCAEDDCCBDDBB...|BBAEADBECEEBBCDAA...|BBDDA99999CAABDEC...|ECBBCBCCABCABDECB...|AAECACDEADCBCDDDB...|CBABADBBCEEEBCBAD...|BBEDABDACACBABAEC...|EEEADBEBACABCDBAB...|        140.0|        180.0|        160.0|        140.0|        140.0|          760.0|
+---------------+---------+------------------+-----------------+-------+----------+----------+----------+----------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------+-------------+-------------+-------------+-------------+---------------+
only showing top 20 rows

In [63]:
spark.sql("DESCRIBE FORMATTED nessie.gold.fato_resultados_enem").show()

+------------------+---------+-------+
|          col_name|data_type|comment|
+------------------+---------+-------+
|   ID_PARTICIPANTE|      int|   NULL|
|         ID_ESCOLA|      int|   NULL|
|ID_APLICACAO_PROVA|      int|   NULL|
| ID_PROVA_OBJETIVA|      int|   NULL|
|           ID_Q_SE|      int|   NULL|
|        ID_REDACAO|      int|   NULL|
|        NU_NOTA_CN|   double|   NULL|
|        NU_NOTA_CH|   double|   NULL|
|        NU_NOTA_LC|   double|   NULL|
|        NU_NOTA_MT|   double|   NULL|
|   TX_RESPOSTAS_CN|   string|   NULL|
|   TX_RESPOSTAS_CH|   string|   NULL|
|   TX_RESPOSTAS_LC|   string|   NULL|
|   TX_RESPOSTAS_MT|   string|   NULL|
|    TX_GABARITO_CN|   string|   NULL|
|    TX_GABARITO_CH|   string|   NULL|
|    TX_GABARITO_LC|   string|   NULL|
|    TX_GABARITO_MT|   string|   NULL|
|     NU_NOTA_COMP1|   double|   NULL|
|     NU_NOTA_COMP2|   double|   NULL|
+------------------+---------+-------+
only showing top 20 rows

In [65]:
spark.sql("""
    WITH medias AS (
        SELECT
            p.NU_ANO,  -- Ano do participante
            p.ID_PARTICIPANTE,  -- ID do participante
            (
                (pr.NU_NOTA_CN + pr.NU_NOTA_CH + pr.NU_NOTA_LC + pr.NU_NOTA_MT + r.NU_NOTA_REDACAO) / 5.0
            ) AS MEDIA_TOTAL  -- Média total de todas as provas (objetivas + redação)
        FROM
            nessie.gold.fato_resultados_enem f
        LEFT JOIN nessie.gold.dim_participante p
            ON f.ID_PARTICIPANTE = p.ID_PARTICIPANTE
        LEFT JOIN nessie.gold.dim_prova_objetiva pr
            ON f.ID_PROVA_OBJETIVA = pr.ID_PROVA_OBJETIVA
        LEFT JOIN nessie.gold.dim_redacao r
            ON f.ID_REDACAO = r.ID_REDACAO
    )
    SELECT
        m.NU_ANO,
        m.ID_PARTICIPANTE,
        m.MEDIA_TOTAL
    FROM
        medias m
    WHERE
        (m.NU_ANO, m.MEDIA_TOTAL) IN (
            SELECT
                NU_ANO,
                MAX(MEDIA_TOTAL) AS MEDIA_TOTAL
            FROM
                medias
            GROUP BY
                NU_ANO
        )
    ORDER BY
        m.NU_ANO, m.MEDIA_TOTAL DESC
""").show()

+------+---------------+-----------------+
|NU_ANO|ID_PARTICIPANTE|      MEDIA_TOTAL|
+------+---------------+-----------------+
|  2019|        2512768|850.8199999999999|
|  2020|       10041752|858.5799999999999|
|  2021|       11769458|           862.68|
|  2022|       15196456|855.9799999999999|
|  2023|       19660803|862.5799999999999|
+------+---------------+-----------------+

In [58]:
spark.sparkContext.cancelAllJobs()

In [ ]:
spark.stop()